/*
 * @Author: Jonathan Baird
 * @Date:   2015-05-21 19:43:17
 * @Last Modified by:   Jonathan Baird
 * @Last Modified time: 2015-05-27 14:54:59
 */

.row.app-build-pane {
	border-bottom: solid 1px #ddd;
	border-left: solid 1px #ddd;
	border-right: solid 1px #ddd;
	border-radius: 0 0 4px 4px;
}

.avail-ques-panel {
	height: 913px;
	overflow: scroll;
}

.a-avail-ques-panel {
	height: 444px;
	overflow: scroll;
}

tr.new-question {
	height: 90px;
}

.ques-well {
	min-height: 110px;
}
