<div class="modal" tabindex="-1" role="dialog" ng-controller="EmployeeEdit as empEditCtrl">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="$hide()">&times;</button>
				<h4 class="modal-title">Edit Employee Information:
					<small>{{employee.FirstName}} {{employee.LastName}}</small>
				</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-6">
						<form role="form" class="form-horizontal">
							<div class="form-group">
								<img data-ng-src="{{employee.Picture}}" class="center-block img-circle">
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">First:</label>
								<div class="col-md-9">
									<input type="text" class="form-control" disabled="true" data-ng-model="employee.FirstName">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">Preferred:</label>
								<div class="col-md-9">
									<input type="text" class="form-control" data-ng-model="updatedEmployee.PreferredName">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">Last:</label>
								<div class="col-md-9">
									<input type="text" class="form-control" data-ng-model="updatedEmployee.LastName">
								</div>
							</div>
						</form>
					</div>
					<div class="col-md-6">
						<form novalidate role="form" class="form-horizontal">
							<div class="form-group">
								<label class="col-sm-3 control-label">Phone:</label>
								<div class="col-md-9">
									<input type="text" class="form-control" data-ng-model="updatedEmployee.PhoneNumber">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">Position:</label>
								<div class="col-md-9">
									<select class="form-control" data-ng-options="position.Id as position.Position for position in arrays.positions" ng-model="updatedEmployee.PositionId"></select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">Area:</label>
								<div class="col-md-9">
									<select class="form-control" data-ng-options="area.Id as area.Area for area in arrays.areas" ng-model="updatedEmployee.AreaId"></select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">Track:</label>
								<div class="col-md-9">
									<select class="form-control" data-ng-options="track.Id as track.Description for track in arrays.tracks" ng-model="updatedEmployee.TrackId"></select>
								</div>
							</div>
							<div class="form-group">
								<label for="activeCheckbox" class="col-md-3 control-label">Active:</label>
								<div class="col-md-9">
									<input id="activeCheckbox" type="checkbox" ng-model="updatedEmployee.Active">
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label" for="readerCheckbox">Reader:</label>
								<div class="col-md-9">
									<input id="readerCheckbox" type="checkbox" ng-model="updatedEmployee.Reader">
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="$hide()">Cancel</button>
				<button type="button" class="btn btn-success" ng-click="empEditCtrl.updateEmployee(); $hide()">Submit</button>
				<!-- <pre class="pre-scrollable">{{updatedEmployee | json}}</pre> -->
			</div>
		</div>
	</div>
</div>
