<div class="modal" tabindex="-1" role="dialog" ng-controller="EmployeeEdit as empAddCtrl">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="$hide()">&times;</button>
				<h4 class="modal-title">Edit Employee Information:
					<small>{{employee.FirstName}} {{employee.LastName}}</small>
				</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h5 class="panel-title">Personal Information</h5>
						</div>
						<div class="panel-body">
							<form role="form" class="form-horizontal">
								<div class="col-md-6">
									<div class="input-group">
										<label class="input-group-addon">First:</label>
										<input type="text" class="form-control" data-ng-model="empAddCtrl.newEmployee.FirstName">
									</div>
									<div class="input-group">
										<label class="input-group-addon">Preferred:</label>
										<input type="text" class="form-control" data-ng-model="empAddCtrl.newEmployee.PreferredName">
									</div>
									<div class="input-group">
										<label class="input-group-addon">Last:</label>
										<input type="text" class="form-control" data-ng-model="empAddCtrl.newEmployee.LastName">
									</div>
								</div>
								<div class="col-md-6">
									<div class="input-group">
										<label class="input-group-addon">Email:</label>
										<input type="text" class="form-control" data-ng-model="empAddCtrl.newEmployee.EmailAddress">
										<label class="input-group-addon">@byui.edu</label>
									</div>
									<div class="input-group">
										<label class="input-group-addon">Phone:</label>
										<input type="text" class="form-control" data-ng-model="empAddCtrl.newEmployee.PhoneNumber">
									</div>
									<div class="input-group">
										<label class="input-group-addon">I-Number:</label>
										<input type="text" class="form-control" data-ng-model="empAddCtrl.newEmployee.INumber">
									</div>
								</div>
								<div class="col-md-3"></div>
								<div class="col-md-6">
									<label class="control-label" for="trackId">
										Track:
									</label>
									<select id="trackId" ui-select2 data-ng-model="empAddCtrl.newEmployee.TrackId">
										<option data-ng-repeat="track in arrays.tracks" value="{{track.Id}}">{{track.Description}}</option>
									</select>
								</div>
								<div class="col-md-3"></div>
							</form>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h5 class="panel-title">Position Information</h5>
						</div>
						<div class="panel-body">
							<form novalidate role="form" class="form-horizontal">
								<div class="col-md-6">
									<label class="control-label" for="trackId">
										Position:
									</label>
									<select id="trackId" ui-select2 data-ng-model="empAddCtrl.newEmployee.PositionId">
										<option data-ng-repeat="position in arrays.positions" value="{{position.Id}}">{{position.Position}}</option>
									</select>
								</div>
								<div class="col-md-6">
									<label class="control-label" for="trackId">
										Area:
									</label>
									<select id="trackId" ui-select2 data-ng-model="empAddCtrl.newEmployee.AreaId">
										<option data-ng-repeat="area in arrays.areas" value="{{area.Id}}">{{area.Area}}</option>
									</select>
								</div>
								<div class="col-md-4"></div>
								<div class="col-md-4">
									<label class="control-label" for="readerInput">Reader:</label>
									<input type="checkbox" id="readerInput" class="form-control" data-ng-model="empAddCtrl.newEmployee.Reader">
								</div>
								<div class="col-md-4"></div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="$hide()">Cancel</button>
				<button type="button" class="btn btn-success" ng-click="empAddCtrl.addEmployee();$hide()">Submit</button>
				<!-- <pre class="pre-scrollable">{{updatedEmployee | json}}</pre>  -->
			</div>
		</div>
	</div>
</div>
