<div  class="container-fluid">
	<header class="navbar navbar-static-top bs-docs-nav row" role="banner">
		<div class="container-fluid">
			<div class="navbar-header">
				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="" class="navbar-brand"><img src="/media/BYUI1.png" height="25"> Testing Center</a>
			</div>
			<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
				<ul class="nav navbar-nav">
					<li data-ng-show="properties.currentUser.Active">
						<a ui-sref="main.schedule.today">
							<span class="glyphicon glyphicon-calendar"></span>&#8199Schedule</a>
					</li>
					<li data-ng-show="properties.currentUser.Active">
						<a ui-sref="main.directory.gridView">
							<span class="glyphicon glyphicon-earphone"></span>&#8199Directory</a>
					</li>
					<!-- <li data-ng-show="properties.currentUser.Admin || properties.currentUser.Position.Position === 'FTE' || properties.currentUser.Position.Position === 'HR'">
						<a ui-sref="main.hr">HR</a>
					</li> -->
					<!-- <li data-ng-show="properties.currentUser.Admin || properties.currentUser.Position.Area === 'SARAS'">
						<a ui-sref="main.saras">SARAS</a>
					</li> -->
					<!-- <li data-ng-show="properties.currentUser.Admin || properties.currentUser.Position === undefined">
						<a ui-sref="main.saras">SARAS</a>
					</li> -->
					<li data-ng-show="properties.currentUser.Admin">
						<a ui-sref="main.faculty.info"><span class="glyphicon glyphicon-briefcase"></span>&#8199Faculty Portal</a>
					</li>
					<li data-ng-show="properties.currentUser.Admin">
						<a ui-sref="main.utilities">
							<span class="glyphicon glyphicon-cog"></span>&#8199Utilities</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li data-ng-show="properties.currentUser.Active">
						<a href="" bs-aside="aside" data-template="partials/messages.html" data-placement="right" data-animation="am-fade-and-slide-right" data-container="body">
							<span class="glyphicon glyphicon-envelope"></span><span data-ng-show="properties.unreadMessages > 0" class="badge badge-error">{{properties.unreadMessages}}</span>
						</a>
					</li>
					<li data-ng-show="properties.currentUser.Active">
						<a href="" bs-aside="aside" data-template="partials/profile.html" data-placement="right" data-animation="am-fade-and-slide-right" data-container="body">
							<span class="glyphicon glyphicon-user"></span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
		<header-banner></header-banner>
	</header>

	<main ui-view class="row"></main>

	<footer class="row">

	</footer>
</div>