<div class="aside right am-fade-and-slide-right" tabindex="-1" role="dialog" style="display: block; width: 450px;" data-ng-controller="UserCtrl as ctrl">
	<div class="aside-dialog">
		<div class="aside-content">
			<div class="aside-header">
				<button type="button" class="close" ng-click="$hide()">×</button>
				<h4 class="aside-title">Messages</h4>
			</div>
			<div class="aside-body">
				<div class="row">
					<button type="button" class="btn btn-default center-block" bs-aside="aside" data-template="partials/messages.new-message.html" data-placement="right" data-animation="am-fade-and-slide-right" data-container="body" data-ng-click="$hide()">
						<span class="glyphicon glyphicon-pencil"></span>
						New Message
					</button>
				</div>
				<div class="row top-buffer">
					<div class="panel-group" ng-model="panels.activePanel" bs-collapse>
						<div class="panel panel-default" ng-repeat="panel in panels">
							<div class="panel-heading">
								<h4 class="panel-title">
									<span data-ng-show="panel.Manditory && !panel.Viewed" class="badge badge-error">
										<span class="glyphicon glyphicon-exclamation-sign"></span>
									</span>
									{{ panel.Subject }}
									<span class="glyphicon glyphicon-collapse-down pull-right" bs-collapse-toggle="{{$index}}" data-ng-click="toggle = true" data-ng-hide="toggle"></span>
									<span class="glyphicon glyphicon-collapse-up pull-right" bs-collapse-toggle="{{$index}}" data-ng-click="toggle = false" data-ng-show="toggle"></span>
									<span class="pull-right">
										<small>{{panel.From.PreferredName}} {{panel.From.LastName}}</small>
									</span>
								</h4>
							</div>
							<div class="panel-collapse" bs-collapse-target>
								<div class="panel-body">
									{{ panel.Message }}
									<br>
									<br>
									<button data-ng-show="panel.Manditory && !panel.Viewed" class="btn btn-success btn-xs" data-ng-click="ctrl.acknowledgedRead(panel.Id)">Acknowledged</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="aside-footer">
				<button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
			</div>
		</div>
	</div>
</div>
