<div class="modal" tabindex="-1" role="dialog" ng-controller="SubShiftCtrl as ctrl">
    <div class="modal-dialog text-left">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>

                <!-- --------If you are FTE, HR, or Admin you will see this title-------- -->

                <h4 class="modal-title" data-ng-show="properties.extendedPrivledges">Shift Info</h4>

                <!-- ------If you are NOT FTE, HR, or Admin you will see this title------ -->

                <h4 class="modal-title" data-ng-hide="properties.extendedPrivledges">Are you sure you want to work this shift?</h4>
            </div>
            <div class="modal-body">

                <!-- ---------If there is NOT a Substitute you will see this view--------- -->

                <div class="row text-center" data-ng-show="shift.substitute.Id === undefined">
                    {{day.date | date:'MMM d'}}
                    <br>{{shift.startTime | date:'hh:mm a'}} to {{shift.endTime | date:'hh:mm a'}}
                    <br>
                    <img data-ng-src="{{shift.requester.Picture}}" class="img-circle center-block" data-ng-style="{'max-width': '120px', 'max-height': '170px'}">
                    <br>{{shift.requester.PreferredName}} {{shift.requester.LastName}}
                </div>

                <!-- -----------If there is a Substitute you will see this view----------- -->

                <div data-ng-hide="shift.substitute.Id === undefined">
                    <div class="row text-center">
                        {{day.date | date:'MMM d'}}
                        <br>{{shift.startTime | date:'h:mm a'}} to {{shift.endTime | date:'h:mm a'}}
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <img data-ng-src="{{shift.substitute.Picture}}" class="img-circle center-block" data-ng-style="{'max-width': '120px', 'max-height': '170px'}">
                        </div>
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-5">
                            <img data-ng-src="{{shift.requester.Picture}}" class="img-circle center-block" data-ng-style="{'max-width': '120px', 'max-height': '170px'}">
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-5">
                            {{shift.substitute.PreferredName}} {{shift.substitute.LastName}}
                        </div>
                        <div class="col-md-2">
                            for
                        </div>
                        <div class="col-md-5">
                            {{shift.requester.PreferredName}} {{shift.requester.LastName}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <!-- --------If you are FTE, HR, or Admin you will see these buttons-------- -->

                <div data-ng-show="properties.extendedPrivledges">
                    <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
                    <button type="button" class="btn btn-danger" ng-click="ctrl.removeSubShift(); $hide()">Remove Sub Shift</button>
                    <!-- You will only see these buttons if the shift has not yet been taken -->
                    <button type="button" class="btn btn-success" data-ng-show="shift.substitute.Id === undefined" ng-click="ctrl.takeSubShift(shift.subShiftId, shift.Id, day.date); $hide()">Take Sub Shift</button>
                </div>

                <!-- ------If you are NOT FTE, HR, or Admin you will see these buttons------ -->

                <div data-ng-hide="properties.extendedPrivledges">
                    <button type="button" class="btn btn-danger" ng-click="$hide()">No</button>
                    <button type="button" class="btn btn-success" ng-click="ctrl.takeSubShift(shift.subShiftId, shift.Id, day.date); $hide()">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>
