<div class="modal" tabindex="-1" role="dialog" ng-controller="HrScheduleCtrl as ctrl">
	<div class="modal-dialog text-muted text-left">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="$hide()">&times;</button>
				<h4 class="modal-title">Request Additional Subs</h4>
			</div>
			<div class="modal-body">
				<!-- <div class="row top-buffer">
					<pre class="pre-scrollable">
						{{ctrl.disableShiftList}}
						{{ctrl.subRequest | json}}
						{{arrays.HRshifts | json}}
					</pre>
				</div> -->
				<div class="row top-buffer">
					<div class="col-md-2"></div>
					<div class="col-md-2 text-right">
						<label>Position:</label>
					</div>
					<div class="col-md-6 form-group">
						<select id="position" name="position" ui-select2="{ placeholder: 'Select position' }" data-ng-model="ctrl.positionId" required data-ng-change="ctrl.disableShiftList = false;ctrl.disableSubmitButton = true;ctrl.subRequest.ShiftId = ''">
							<option value="{{position.ID}}" ng-repeat="position in arrays.positions">{{position.Position}}</option>
						</select>
					</div>
					<div class="col-md-2"></div>
				</div>
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-2 text-right">
						<label>Date:</label>
					</div>
					<div class="col-md-6">
						<div class="input-group" ng-class="{'has-error': datepickerForm.date.$invalid}">
							<div class="input-group-addon">
								<span class="glyphicon glyphicon-calendar"></span>
							</div>
							<input type="text" class="form-control" name="date" bs-datepicker data-ng-model="ctrl.subRequest.Date">
						</div>
					</div>
					<div class="col-md-2"></div>
				</div>
				<div class="row top-buffer">
					<div class="col-md-2"></div>
					<div class="col-md-2 text-right">
						<label>Shift:</label>
					</div>
					<div class="col-md-6 form-group">
						<select id="position" name="position" ui-select2="{ placeholder: 'Select position' }" ng-model="ctrl.subRequest.ShiftId" required data-ng-disabled="ctrl.disableShiftList" data-ng-change="ctrl.disableSubmitButton = false">
							<option value="{{shift.Id}}" data-ng-show="(shift.Day.indexOf(ctrl.subRequest.Date.toString('ddd')) >= 0)" ng-repeat="shift in filtered = ( arrays.HRshifts | filter:{ PositionId: ctrl.positionId }) | orderBy:'StartTime'">{{shift.StartTime | date:'h:mm a'}} - {{shift.EndTime | date:'h:mm a'}}</option>
						</select>
					</div>
					<div class="col-md-2"></div>
				</div>
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-2 text-right">
						<label>Slots:</label>
					</div>
					<div class="col-md-6">
						<input type="text" class="form-control" data-ng-model="ctrl.slots">
					</div>
					<div class="col-md-2"></div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" ng-click="$hide()">No</button>
				<button type="button" class="btn btn-success" data-ng-disabled="ctrl.disableSubmitButton" data-ng-click="ctrl.requestSub(); $hide()">Yes</button>
			</div>
		</div>
	</div>
</div>
