<div class="container-fluid">
<!-- 	<pre class="pre-scrollable">
		{{arrays.weeks | json}}
	</pre>
 -->
	<div class="row">
		<div class="col-md-2">
			<div class="panel panel-info">
				<div class="panel-heading">Positions</div>
				<div class="panel-body">
					<div data-ng-repeat="position in filtered = (arrays.positions | filter:{ access:true })" class="form-group">
						<label for="{{position.Position}}">
							<input id="{{position.Position}}" name="{{position.Position}}" type="checkbox" ng-model="position.visible">&#8199{{position.Position}}
						</label>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-10">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th class="text-center" data-ng-repeat="day in arrays.weeks[0].days" data-ng-class="{ weekend: day.weekend }">
							<div>
								{{day.title}}
							</div>
						</th>
					</tr>
				</thead>
				<tr data-ng-repeat="week in arrays.weeks">
					<td class="text-center my-schedule" data-ng-repeat="day in week.days" data-ng-class="{ weekend: day.weekend }">
						<span class="pull-right">{{day.date | date:'d'}}</span>
						<br>
						<div class="btn-group-vertical my-schedule">
							<button class="btn my-schedule" data-ng-repeat="shift in day.subShifts | orderBy:'StartTime'" data-ng-disabled="day.past" data-ng-hide="shift.hide" data-ng-class="{taken: shift.taken}" data-animation="am-fade-and-scale" data-placement="center" data-template="partials/schedule.take-sub-shift.html" bs-modal="modal">
								{{shift.startTime | date:'h:mm a'}} - {{shift.endTime | date:'h:mm a'}}
							</button>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
<!-- data-ng-class="{ 'badge badge-primary': schedule.isToday(day.date) }" -->
