<div class="modal" tabindex="-1" role="dialog" ng-controller="HrScheduleCtrl as ctrl">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="$hide()">&times;</button>
				<h4 class="modal-title">Who would you like to assign to this shift?</h4>
			</div>
			<div class="modal-body">
				<!-- <div class="row text-left">
					<pre class="pre-scrollable">{{arrays.employees | json}}</pre>
				</div> -->
				<div class="row">
					<div class="panel panel-info scrollable">
						<div class="panel-heading">
							<h5 class="panel-title">Filter</h5>
						</div>
						<div class="panel-body">
							<form novalidate accept-charset="utf-8" role="form" class="form-horizontal">
								<div class="input-group">
									<div class="input-group-addon">
										<span class="glyphicon glyphicon-search"></span>
									</div>
									<input id="employeeSearch" class="form-control" type="text" ng-model="query">
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="panel panel-info scrollable">
						<div class="panel-heading">
							<h5 class="panel-title">Employees</h5>
						</div>
						<table class="table table-hover">
							<tbody>
								<tr data-ng-repeat="lookupEmployee in arrays.directoryEmployees | filter:query | filter:{Active: true} | orderBy:PreferredName">
									<td>
										<input id="{{lookupEmployee.Id}}" type="radio" name="EmployeeId" value="{{lookupEmployee.Id}}" data-ng-model="properties.employeeId">
									</td>
									<td>
										<label for="{{lookupEmployee.Id}}">
											<img class="img-circle" data-ng-src="{{lookupEmployee.Picture}}" alt="" data-ng-style="{ 'width' : '50px', 'height' : '50px' }">
										</label>
									</td>
									<td class="text-left">
										<label for="{{lookupEmployee.Id}}">
											{{lookupEmployee.PreferredName}} {{lookupEmployee.LastName}}
										</label>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" ng-click="$hide()">Cancel</button>
				<button type="button" class="btn btn-success" ng-click="ctrl.assignShift(employee.ShiftId, properties.employeeId); $hide()">Submit</button>
			</div>
		</div>
	</div>
</div>
