<div class="container-fluid">
	<!-- <pre class="pre-scrollable">{{properties.today | json}}</pre> -->
	<div class="col-md-2">
			<div class="panel panel-info">
				<div class="panel-heading">Day Search</div>
				<div class="panel-body">
					<div class="input-group" ng-class="{'has-error': datepickerForm.date.$invalid}">
						<input id="dateQuery" type="text" class="form-control" ng-model="ctrl.queryDate" bs-datepicker>
						<span class="input-group-btn">
                       		<button type="button" class="btn btn-default" data-ng-click="properties.today = [];ctrl.getTodaySchedule()"><span class="glyphicon glyphicon-search"></span>
						</button>
						</span>
					</div>
				</div>
			</div>
			<div class="panel panel-info">
				<div class="panel-heading">Positions</div>
				<div class="panel-body">
					<div data-ng-repeat="position in filtered = (arrays.positions | filter:{ access:true })" class="form-group">
						<label for="{{position.Position}}">
							<input id="{{position.Position}}" name="{{position.Position}}" type="checkbox" ng-model="position.visible">&#8199{{position.Position}}
						</label>
					</div>
				</div>
			</div>
	</div>
	<div class="col-md-10">
		<div class="panel panel-primary text-center" data-ng-show="primaryPosition.visible" data-ng-repeat="primaryPosition in arrays.positions">
			<div class="panel-heading">
				<h4 class="panel-title">{{primaryPosition.Position}}</h4>
			</div>
			<div class='panel panel-info' data-ng-repeat="shift in properties.today.shifts | filter:{position: primaryPosition.Position} | orderBy:'startTime'">
				<div class="panel-heading">
					{{shift.startTime | date:'hh:mm a'}} to {{shift.endTime | date:'hh:mm a'}}
				</div>
				<div class="panel-body" data-ng-class="{'list-group-item-success': !employee.needsASub, 'list-group-item-danger': employee.needsASub}" data-ng-repeat="employee in shift.employees track by $index">
					<div data-ng-show="employee.substitutePreferredName !== ''">
						<div class="col-md-5">
							<div class="pull-right">
								<div>
									<img data-ng-src="{{employee.substitutePicture}}" fallback-src="/media/missing.png" class="list-item img-circle">
								</div>
								{{employee.substitutePreferredName}} {{employee.substituteLastName}}
							</div>
						</div>
						<div class="col-md-2">
							for
						</div>
						<div class="col-md-5">
							<div class="pull-left">
								<div>
									<img data-ng-src="{{employee.employeePicture}}" fallback-src="/media/missing.png" class="list-item img-circle">
								</div>
								{{employee.employeePreferredName}} {{employee.employeeLastName}}
							</div>
						</div>
					</div>
					<div data-ng-hide="employee.substitutePreferredName !== ''">
						<div>
							<img data-ng-src="{{employee.employeePicture}}" fallback-src="/media/missing.png" class="list-item img-circle">
						</div>
						{{employee.employeePreferredName}} {{employee.employeeLastName}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
