<div class="modal" tabindex="-1" role="dialog" ng-controller="migratorCtrl as migrator">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="$hide()">&times;</button>
				<h4 class="modal-title">Migrator</small>
				</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<!-- <form novalidate accept-charset="utf-8" name="newShiftForm" role="form" ng-submit="">
						<div class="form-group col-md-6">
						</div>
						<div class="form-group col-md-6">
							<label for="slots">Employees</label>
							<input id="slots" name="slots" type="text" class="form-control" placeholder="Number of Employees to Migrate" ng-model="migrator.employees" required>
						</div>
						<div class="form-group col-md-6">
							<label for="slots">Professors</label>
							<input id="slots" name="slots" type="text" class="form-control" placeholder="Number of Professors to Migrate" ng-model="migrator.professors" required>
						</div>
					</form> -->
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="$hide()">Cancel</button>
				<button type="button" data-ng-disabled=" migrator.notReady.position  && migrator.ready.areas && migrator.ready.employees && migrator.ready.facultyInfo  " class="btn btn-success" ng-click="test()">Test</button>
				<button type="button" class="btn btn-success" ng-click="migrator.migrate(); $hide()">Submit</button>
				<div style="max-height: 300px; overflow-y:auto">
					Errors: {{errors.length}}
					<ul>
						<li data-ng-repeat="error in errors">
							<pre>{{error | json}}</pre>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
