<div class="container-fluid">
    <tcems-buffer></tcems-buffer>
    <div class="row-fluid">
        <div class="col-md-2">
            <tcems-refresh></tcems-refresh>
            <tcems-buffer></tcems-buffer>
            <tcems-day-search></tcems-day-search>
            <tcems-filter-positions></tcems-filter-positions>
        </div>
        <div class="col-md-10">
            <div class="panel panel-primary text-center" data-ng-show="primaryPosition.Active" data-ng-repeat="primaryPosition in positions">
                <div class="panel-heading">
                    <h4 class="panel-title">{{primaryPosition.Description}}</h4>
                </div>
                <div class='panel panel-info' data-ng-repeat="shift in properties.today.shifts | filter:{PositionId: primaryPosition.Id} | orderBy:'StartTime'">
                    <div class="panel-heading">
                        {{shift.StartTime | date:'hh:mm a'}} to {{shift.EndTime | date:'hh:mm a'}}
                    </div>
                    <button class="panel-body list-group-item" data-ng-class="{'list-group-item-success': !employee.needsASub, 'list-group-item-danger': employee.needsASub}" data-ng-repeat="employee in shift.Employees track by $index">
                        <div data-ng-show="employee.substitutePreferredName !== ''">
                            <div class="col-md-5">
                                <div class="pull-right">
                                    <div>
                                        <img data-ng-src="{{employee.substitutePicture}}" data-fallback-src="media/missing.png" class="list-item img-circle" data-template="partials/schedule/today/substitute-info.html" data-animation="am-flip-x" data-bs-tooltip="tooltip" alt="substitutePicture">
                                    </div>
                                    {{employee.substitutePreferredName}} {{employee.substituteLastName}}
                                </div>
                            </div>
                            <div class="col-md-2">
                                for
                            </div>
                            <div class="col-md-5">
                                <div class="pull-left">
                                    <div>
                                        <img data-ng-src="{{employee.employeePicture}}" data-fallback-src="media/missing.png" class="list-item img-circle" data-template="partials/schedule/today/employee-info.html" data-animation="am-flip-x" data-bs-tooltip="tooltip" alt="employeePicture">
                                    </div>
                                    {{employee.employeePreferredName}} {{employee.employeeLastName}}
                                </div>
                            </div>
                        </div>
                        <div data-ng-hide="employee.substitutePreferredName !== ''">
                            <div>
                                <img data-ng-src="{{employee.employeePicture}}" data-fallback-src="media/missing.png" class="list-item img-circle" data-template="partials/schedule/today/employee-info.html" data-animation="am-flip-x" data-bs-tooltip="tooltip" alt="employeePicture">
                            </div>
                            {{employee.employeePreferredName}} {{employee.employeeLastName}}
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
