.DS_Store
.nodemonegnore
npm-debug.log
node_modules/
public/src/lib/
public/dev/
public/dist/
public/src/templates/
.bower-*/
.idea/
*.swp
logs/**
testcenterems.bairdbunch.com.conf
haven.c.byui.edu.conf

assets/
aspnet_client/
TrainingLibrary/
web.config
wwwroot.do
home.htm
Thumbs.db
iis*


*.swp
