<br>
<div class="well-divider" data-ng-click="indEmps = !indEmps">
	<span class="well-divider-text">
			Individual Employees&nbsp;&nbsp;
			</span>
	<span class="pull-right well-divider-text">
			&nbsp;&nbsp;
			<span class="glyphicon glyphicon-collapse-down" data-ng-hide="indEmps"></span>
	<span class="glyphicon glyphicon-collapse-up" data-ng-show="indEmps"></span>
	</span>
</div>
<br>
<div data-ng-show="indEmps">
	<div class="panel panel-default">
		<div class="panel-heading" data-ng-click="staff = !staff">
			Staff
			<span class="pull-right glyphicon glyphicon-collapse-down" data-ng-hide="staff"></span>
			<span class="pull-right glyphicon glyphicon-collapse-up" data-ng-show="staff"></span>
		</div>
		<div class="panel-body" data-ng-show="staff">
			<div class="btn btn-default col-md-3 col-sm-3 emp-select-btn" data-ng-repeat="emp in ctrl.FTEs | filter:{pos: 'FTE'} | orderBy:'pos'" data-ng-model="emp.add" data-ng-click="ctrl.toggleRecipient(emp)" data-bs-checkbox data-ng-hide="emp.add">
				<img class="emp-mess-img img-circle" data-ng-src="{{emp.img}}" data-fallback-src="src/modules/core/img/missing.png" alt="empImg">
				<br>{{emp.lName}}
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading" data-ng-click="sEmps = !sEmps">
			Student Employees
			<span class="pull-right glyphicon glyphicon-collapse-down" data-ng-hide="sEmps"></span>
			<span class="pull-right glyphicon glyphicon-collapse-up" data-ng-show="sEmps"></span>
		</div>
		<div class="panel-body" data-ng-show="sEmps">
			<input id="empSearch" class="form-control" type="text" data-ng-model="empSearch" placeholder="Which employee(s)...">
			<br>
			<div class="scrollable">
				<div class="btn btn-default col-md-3 col-sm-3 emp-select-btn" data-ng-repeat="emp in ctrl.emps | filter:empSearch | orderBy:'pName'" data-ng-model="emp.add" data-ng-click="ctrl.toggleRecipient(emp)" data-bs-checkbox data-ng-hide="emp.add">
					<img class="emp-mess-img img-circle" data-ng-src="{{emp.img}}" data-fallback-src="src/modules/core/img/missing.png" alt="empImg">
					<br>{{emp.pName}}
				</div>
			</div>
		</div>
	</div>
</div>
<tcems-buffer></tcems-buffer>
<div class="well-divider text-center">
	<span class="well-divider-text">&nbsp;&nbsp;OR&nbsp;&nbsp;</span>
</div>
<br>
