<br>
<div class="well-divider" data-ng-click="recips = !recips">
	<span class="well-divider-text">
			{{ctrl.recipients.length}} Recipients&nbsp;&nbsp;
			</span>
	<span class="pull-right well-divider-text">
			&nbsp;&nbsp;
			<span class="glyphicon glyphicon-collapse-down" data-ng-hide="recips"></span>
	<span class="glyphicon glyphicon-collapse-up" data-ng-show="recips"></span>
	</span>
</div>
<br>
<div class="scrollable" data-ng-show="recips">
	<button type="button" class="btn btn-danger" data-ng-click="ctrl.clearRecips()" data-ng-show="ctrl.recipients.length > 0">Clear</button>
	<tcems-buffer></tcems-buffer>
	<div class="btn btn-default col-md-3 col-sm-3 emp-select-btn" data-ng-repeat="emp in ctrl.recipients" data-ng-model="!emp.add" data-ng-click="ctrl.toggleRecipient(emp)" data-bs-checkbox>
		<img class="emp-mess-img img-circle" data-ng-src="{{emp.img}}" data-fallback-src="src/modules/core/img/missing.png" alt="empImg">
		<br>{{emp.pName}}
	</div>
</div>
