<div class="container-fluid" data-ng-init="resetView()">
	<tcems-buffer></tcems-buffer>
	<div class="row-fluid">
		<div class="col-md-2">
			<tcems-refresh></tcems-refresh>
			<tcems-buffer></tcems-buffer>
			<tcems-filter-semesters></tcems-filter-semesters>
		</div>
		<div class="col-md-10">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th data-ng-repeat="day in weeks[0].days" class="text-center" data-ng-hide="day.title === 'Sunday'" data-ng-class="{ weekend: day.weekend }">
							<div>
								{{day.title}}
							</div>
						</th>
					</tr>
				</thead>
				<tbody data-ng-repeat="week in weeks">
					<tr>
						<td data-ng-repeat="day in week.days" class="text-center my-schedule" data-ng-hide="day.title === 'Sunday'" data-ng-class="{ weekend: day.weekend }">
							<span class="pull-right">
								{{day.date | date:'d'}}
							</span>
							<div class="btn-group-vertical my-schedule" style="min-height: 100px">
								<button data-ng-hide="shift.subCovered" data-ng-disabled="day.past || shift.disabled" data-ng-class="{ subRequested: shift.subRequest, week2: week.title === 'Week 2', week3: week.title === 'Week 3', subCovered: day.past }" class="btn my-schedule" data-ng-repeat="shift in day.myShifts.currentSemester" data-animation="am-fade-and-scale" data-template="partials/schedule/mySchedule/sub-request.html" bs-modal="modal">
							<div ng-if="ctrl.semester === 'currentSemester'" class="btn-group-vertical my-schedule" style="min-height: 100px">
								<button data-ng-hide="shift.subCovered" data-ng-disabled="day.past || shift.disabled" data-ng-class="{ subRequested: shift.subRequest, week2: week.title === 'Week 2', week3: week.title === 'Week 3', subCovered: day.past }" class="btn my-schedule" data-ng-repeat="shift in day.myShifts[ctrl.semester]" data-animation="am-fade-and-scale" data-template="partials/schedule/mySchedule/sub-request.html" bs-modal="modal">
									{{shift.shift.StartTime | date:'h:mm a'}} - {{shift.shift.EndTime | date:'h:mm a'}}
								</button>
							</div>
							<div ng-if="ctrl.semester !== 'currentSemester'" class="btn-group-vertical my-schedule" style="min-height: 100px">
								<button data-ng-hide="shift.subCovered" data-ng-disabled="day.past || shift.disabled" data-ng-class="{ subRequested: shift.subRequest, week2: week.title === 'Week 2', week3: week.title === 'Week 3', subCovered: day.past }" class="btn my-schedule" data-ng-repeat="shift in day.myShifts[ctrl.semester]" data-animation="am-fade-and-scale" data-template="partials/schedule/mySchedule/drop-shift.html" bs-modal="modal">
							<div class="btn-group-vertical my-schedule" style="min-height: 100px">
								<button data-ng-hide="shift.subCovered" data-ng-disabled="day.past || shift.disabled" data-ng-class="shift.classes" class="btn my-schedule" data-ng-repeat="shift in day.myShifts[ctrl.semester]" data-animation="am-fade-and-scale" data-template="src/modules/shifts/views/request-sub.client.view.html" data-bs-modal="modal">
									{{shift.shift.StartTime | date:'h:mm a'}} - {{shift.shift.EndTime | date:'h:mm a'}}
								</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
