<div class="container-fluid" data-ng-init="resetView()">
    <tcems-buffer></tcems-buffer>
    <div class="row-fluid">
        <div class="col-md-2">
            <tcems-refresh></tcems-refresh>
            <tcems-buffer></tcems-buffer>
            <tcems-filter-positions></tcems-filter-positions>
        </div>
        <div class="col-md-10">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="text-center" data-ng-repeat="day in weeks[0].days" data-ng-class="{ weekend: day.weekend }" data-ng-hide="day.title === 'Sunday'">
                            <div>
                                {{day.title}}
                            </div>
                        </th>
                    </tr>
                </thead>
                <tr data-ng-repeat="week in weeks">
                    <td class="text-center my-schedule" data-ng-repeat="day in week.days" data-ng-class="{ weekend: day.weekend }" data-ng-hide="day.title === 'Sunday'">
                        <span class="pull-right">{{day.date | date:'d'}}</span>
                        <br>
                        <div class="btn-group-vertical my-schedule" style="min-height: 100px">
                            <button class="btn my-schedule" data-ng-repeat="subShift in day.subShifts" data-ng-disabled="day.past" data-ng-show="subShift.shift.Position.Active && !currentUser.extendedPrivledges && !subShift.subShift.SubstituteId" data-animation="am-fade-and-scale" data-template="src/modules/shifts/views/take-sub-shift.client.view.html" data-bs-modal="modal">
                                {{subShift.shift.StartTime | date:'h:mm a'}} - {{subShift.shift.EndTime | date:'h:mm a'}}
                            </button>
                            <button class="btn my-schedule" data-ng-repeat="subShift in day.subShifts" data-ng-disabled="day.past" data-ng-show="subShift.shift.Position.Active && currentUser.extendedPrivledges && !subShift.subShift.SubstituteId" data-ng-class="{subRequested: !subShift.subShift.SubstituteId, week2: week.title === 'Week 2', week3: week.title === 'Week 3' }" data-animation="am-fade-and-scale" data-template="src/modules/shifts/views/take-sub-shift.client.view.html" data-bs-modal="modal">
                                {{subShift.shift.StartTime | date:'h:mm a'}} - {{subShift.shift.EndTime | date:'h:mm a'}}
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
