<div class="modal" tabindex="-1" role="dialog" ng-controller="SubShiftCtrl as ctrl">
	<div class="modal-dialog text-muted text-left">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="$hide()">&times;</button>
				<h4 class="modal-title">Request Additional Subs</h4>
			</div>
			<div class="modal-body">
				<!-- DATE -->
				<div class="row top-buffer">
					<div class="col-md-3"></div>
					<div class="col-md-6 input-group" ng-class="{'has-error': datepickerForm.date.$invalid}">
						<div class="input-group-addon">Date:</div>
						<input type="text" class="form-control" name="date" bs-datepicker data-ng-model="subShift.Date" data-ng-change="subShift.ShiftId = ''; ctrl.shiftFilter()" autoclose="true">
						<div class="input-group-addon">
							<span class="glyphicon glyphicon-calendar"></span>
						</div>
					</div>
					<div class="col-md-3"></div>
				</div>
				<!-- SHIFTS -->
				<div class="row top-buffer">
					<div class="col-md-3"></div>
					<div class="col-md-6 input-group">
						<div class="input-group-addon">Shift:</div>
						<button
							type="button"
							class="btn btn-default"
							data-ng-model="subShift.ShiftId"
							data-ng-options="shift.Shift.Id as (shift.Shift.Position.Description + ': ' + shift.Shift.StartTime.toString('h:mm') + '-' + shift.Shift.EndTime.toString('h:mm')) for shift in ctrl.HRshifts | filter:{Relevant: true} | orderBy:['PositionId','StartTime']"
							data-ng-hide=""
							placeholder="Select Shift..."
							bs-select
						>
							Action <span class="caret"></span>
						</button>
					</div>
					<div class="col-md-3"></div>
				</div>
				<!-- SLOTS -->
				<div class="row top-buffer">
					<div class="col-md-3"></div>
					<div class="col-md-6 input-group">
						<div class="input-group-addon">Slots:</div>
						<input type="text" class="form-control" data-ng-model="ctrl.slots">
					</div>
					<div class="col-md-3"></div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" ng-click="$hide()">No</button>
				<button type="button" class="btn btn-success" data-ng-disabled="!(subShift.ShiftId)"data-ng-click="ctrl.requestSub(); $hide()">Yes</button>
			</div>
		</div>
	</div>
</div>
<!--
 -->
