<div class="aside right am-fade-and-slide-right" tabindex="-1" role="dialog" style="display: block; width: 450px;" data-ng-controller="MessageCtrl as ctrl">
	<div class="aside-dialog">
		<div class="aside-content">
			<div class="aside-header">
				<a type="button" class="close" ng-click="ctrl.refreshContent()">
					<span class="glyphicon glyphicon-refresh"></span>
				</a>
				<h4 class="aside-title">Messages</h4>
			</div>
			<ul class="nav nav-pillsCustom nav-justified" bs-navbar>
				<li data-ng-class="{active: tab === 'new'}">
					<a href="" data-ng-click="tab = 'new'">New<span data-ng-show="properties.unreadMessages > 0" class="badge badge-error">{{properties.unreadMessages}}</span></a>
				</li>
				<li data-ng-class="{active: tab === 'read'}">
					<a href="" data-ng-click="tab = 'read'">Read</a>
				</li>
				<li data-ng-class="{active: tab ==='policy'}">
					<a href="" data-ng-click="tab = 'policy'">Policy</a>
				</li>
				<li data-ng-class="{active: tab ==='sent'}">
					<a href="" data-ng-click="tab = 'sent'">Sent</a>
				</li>
			</ul>
			<div class="aside-body">
				<div class="row-fluid">
					<!-- READ MESSAGES -->
					<div data-ng-hide="newMessage">
						<!-- NEW -->
						<div data-ng-show="tab === 'new'">
							<div class="row-fluid">
								<div class="panel-group" ng-model="arrays.messages.activePanel" bs-collapse>
									<div class="panel panel-default" ng-repeat="message in arrays.messages | filter:{Read: false}">
										<div class="panel-heading">
											<h4 class="panel-title">
											<span data-ng-show="message.Message.Mandatory && !message.Read" class="badge badge-error">
												<span class="glyphicon glyphicon-exclamation-sign"></span>
											</span>
											{{ message.Message.Subject | truncate:20}}
											<a class="pull-right" bs-collapse-toggle data-ng-click="toggle = !toggle">
												<span class="glyphicon glyphicon-collapse-down" data-ng-hide="toggle"></span>
												<span class="glyphicon glyphicon-collapse-up" data-ng-show="toggle"></span>
											</a>
											<span class="pull-right">
												<small>{{message.Message.From.toString('name')}}&nbsp;&nbsp;</small>
											</span>
										</h4>
										</div>
										<div class="panel-collapse" bs-collapse-target>
											<div class="panel-body">
												<b>Subject:</b>
												<p>{{message.Message.Subject}}</p>
												<b>Body:</b>
												<div data-ng-bind-html="message.Message.FormattedBody"></div>
												<br>
												<span data-ng-show="message.Message.Mandatory">Due: {{message.Message.DueDate | date:'d-MMM-yyyy'}}</span>
												<br>
												<br>
												<button data-ng-show="message.Message.Mandatory" class="btn btn-success" data-ng-click="ctrl.readMessage(message)" data-ng-disabled="message.Disabled">Acknowledged</button>
												<button data-ng-hide="message.Message.Mandatory && !message.Disabled" class="btn btn-default" data-ng-click="ctrl.readMessage(message)">Read</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- READ -->
						<div data-ng-show="tab === 'read'">
							<div class="row-fluid">
								<div class="panel-group" ng-model="arrays.messages.activePanel" bs-collapse>
									<div class="panel panel-default" ng-repeat="message in arrays.messages | filter:{Read: true, Policy: false}">
										<div class="panel-heading">
											<h4 class="panel-title">
											{{ message.Message.Subject | truncate:20}}
											<a class="pull-right" bs-collapse-toggle data-ng-click="toggle = !toggle">
												<span class="glyphicon glyphicon-collapse-down" data-ng-hide="toggle"></span>
												<span class="glyphicon glyphicon-collapse-up" data-ng-show="toggle"></span>
											</a>
											<span class="pull-right">
												<small>{{message.Message.From.toString('name')}}&nbsp;&nbsp;</small>
											</span>
										</h4>
										</div>
										<div class="panel-collapse" bs-collapse-target>
											<div class="panel-body">
												<b>Subject:</b>
												<p>{{message.Message.Subject}}</p>
												<b>Body:</b>
												<div data-ng-bind-html="message.Message.FormattedBody"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- POLICY -->
						<div data-ng-show="tab === 'policy'">
							<div class="row-fluid">
								<div class="panel-group" ng-model="arrays.messages.activePanel" bs-collapse>
									<div class="panel panel-default" ng-repeat="message in arrays.policies">
										<div class="panel-heading">
											<h4 class="panel-title">
											{{ message.Subject | truncate:20}}
											<a class="pull-right" bs-collapse-toggle data-ng-click="toggle = !toggle">
												<span class="glyphicon glyphicon-collapse-down" data-ng-hide="toggle"></span>
												<span class="glyphicon glyphicon-collapse-up" data-ng-show="toggle"></span>
											</a>
											<span class="pull-right">
												<small>{{message.From.toString('name')}}&nbsp;&nbsp;</small>
											</span>
										</h4>
										</div>
										<div class="panel-collapse" bs-collapse-target>
											<div class="panel-body">
												<b>Subject:</b>
												<p>{{message.Subject}}</p>
												<b>Body:</b>
												<div data-ng-bind-html="message.FormattedBody"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- SENT -->
						<div data-ng-show="tab === 'sent'">
							<div class="row">
								<button type="button" class="btn btn-default center-block" data-ng-click="newMessage = true">
									<span class="glyphicon glyphicon-pencil"></span>
									New Message
								</button>
							</div>
							<buffer></buffer>
							<div class="panel-group" ng-model="arrays.sentMessages.activePanel" bs-collapse>
								<div class="panel panel-default" ng-repeat="message in arrays.sentMessages | filter:{Active: true}">
									<div class="panel-heading">
										<h4 class="panel-title">
										{{ message.Subject | truncate:20}}
										<a class="pull-right" bs-collapse-toggle data-ng-click="toggle = !toggle">
											<span class="glyphicon glyphicon-collapse-down" data-ng-hide="toggle"></span>
											<span class="glyphicon glyphicon-collapse-up" data-ng-show="toggle"></span>
										</a>
										<span class="pull-right">
											<small>{{message.From.toString('name')}}&nbsp;&nbsp;</small>
										</span>
									</h4>
									</div>
									<div class="panel-collapse" bs-collapse-target>
										<div class="panel-body">
											<!-- Subject -->
											<div class="form-group">
												<label class="control-label">Subject:</label>
												<input type="text" data-ng-disabled="!message.Edit" class="form-control" data-ng-model="message.Subject">
											</div>
											<!-- Body -->
											<div class="form-group">
												<label class="control-label">Body:</label>
												<textarea data-ng-disabled="!message.Edit" data-ng-model="message.Body" class="form-control" rows="10"></textarea>
											</div>
											<!-- ExpDate -->
											<div class="form-group">
												<div class="input-group" ng-class="{'has-error': datepickerForm.date.$invalid}">
													<div class="input-group-addon">
														<span class="glyphicon glyphicon-calendar"></span>&nbsp;Expires:
													</div>
													<input type="text" class="form-control" name="date" bs-datepicker data-ng-model="message.ExpDate" data-ng-disabled="!message.Edit">
												</div>
											</div>
											<!-- DueDate -->
											<div class="form-group">
												<div class="input-group">
													<div class="input-group-addon">
														<span class="glyphicon glyphicon-calendar"></span>&nbsp;Due:
													</div>
													<input type="text" class="form-control" name="date" bs-datepicker data-ng-model="message.DueDate" data-ng-disabled="!message.Edit">
												</div>
											</div>
											<!-- Mandatory & Policy -->
											<div class="form-group">
												<div class="btn-group btn-group-justified">
													<div class="btn-group">
														<button type="button" class="btn btn-default" ng-model="message.Policy" data-ng-click="message.Mandatory = !message.Mandatory" bs-checkbox data-ng-disabled="!message.Edit">{{(message.Policy) ? 'Policy' : 'Not policy'}}</button>
													</div>
													<div class="btn-group">
														<button type="button" class="btn btn-default" ng-model="message.Mandatory" bs-checkbox data-ng-disabled="!message.Edit">{{(message.Mandatory) ? 'Mandatory' : 'Not mandatory'}}</button>
													</div>
												</div>
											</div>
											<!-- Edit & Delete Buttons -->
											<div class="form-group">
												<div data-ng-hide="message.Edit" class="pull-right">
													<button type="button" class="btn btn-default" data-ng-class="{'btn-default': !message.Edit, 'btn-success': message.Edit}" data-ng-click="ctrl.saveMessage(message)">
														<span class="glyphicon glyphicon-edit" data-ng-hide="message.Edit"></span>
													</button>
												</div>
												<div class="btn-group pull-right" data-ng-show="message.Edit">
													<button type="button" class="btn btn-default" data-ng-click="message.Edit = false">
														<span class="glyphicon glyphicon-remove"></span>
													</button>
													<button type="button" class="btn btn-success" data-ng-click="ctrl.saveMessage(message)">
														<span class="glyphicon glyphicon-floppy-disk"></span>
													</button>
													<button type="button" class="btn btn-danger" data-ng-click="ctrl.removeMessage(message)">
														<span class="glyphicon glyphicon-trash"></span>
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- WRITE MESSAGES -->
					<div data-ng-show="newMessage">
						<div class="row-fluid">
							<div class="form-group well" data-ng-show="properties.currentUser.Admin || properties.currentUser.Area.Description === 'Director'">
								<label for="to">To:</label>
								<ui-select multiple data-ng-model="ctrl.newMessage.Recipients" theme="bootstrap" close-on-select="false" title="Choose an Employee">
									<ui-select-match placeholder="Select employee(s)...">{{$item.toString('name')}}</ui-select-match>
									<ui-select-choices repeat="employee in ctrl.activeEmloyees | orderBy:'PreferredName' | filter:$select.search">
										<span data-ng-bind-html="employee.Label"></span>
									</ui-select-choices>
								</ui-select>
								<buffer></buffer>
								<div style="height: 2px; border-top: 1px solid #ccc; text-align: center">
									<span style="background-color: #f2f2f2; position: relative; top: -0.75em;">&nbsp;&nbsp;OR&nbsp;&nbsp;</span>
								</div>
								<buffer></buffer>
								<!-- Admin view -->
								<div data-ng-show="properties.currentUser.Admin">
									<div class="form-group">
										<div class="btn-group-justified">
											<div class="button-group">
												<button type="button" class="btn btn-default form-control" data-ng-click="ctrl.newMessage.Recipients = ctrl.activeEmloyees">ALL</button>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="btn-group btn-group-justified">
											<div class="btn-group" data-ng-repeat="area in data.areas | filter:ctrl.areaFilter">
												<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
													{{area.Description | truncate:6}}
													<span class="caret"></span>
												</button>
												<ul class="dropdown-menu">
													<li><a data-ng-click="ctrl.areaEmployees(area.Id)">{{area.Description}}</a>
													</li>
													<li class="divider"></li>
													<li data-ng-repeat="position in area.Positions | filter:ctrl.positionFilter">
														<a data-ng-click="ctrl.positionEmployees(position.Id, area.Id)">
													{{position.Description}}
												</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<!-- Director view -->
								<div data-ng-show="properties.currentUser.Area.Description === 'Director'">
									<div class="form-group">
										<div class="btn-group-justified">
											<div class="button-group">
												<button type="button" class="btn btn-default form-control" data-ng-click="ctrl.newMessage.Recipients = ctrl.activeEmloyees">ALL</button>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="btn-group btn-group-justified">
											<div class="btn-group" data-ng-repeat="area in data.areas | filter:ctrl.areaFilter">
												<button type="button" class="btn btn-default" data-ng-click="ctrl.areaEmployees(area.Id)">{{area.Description}}</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group well" data-ng-hide="properties.currentUser.Admin || properties.currentUser.Area.Description === 'Director'">
								<label for="to">To:</label>
								<ui-select multiple data-ng-model="ctrl.newMessage.Recipients" theme="bootstrap" close-on-select="false" title="Choose an Employee">
									<ui-select-match placeholder="Select employee(s)...">{{$item.toString('name')}}</ui-select-match>
									<ui-select-choices repeat="employee in ctrl.activeEmloyees | filter:{AreaId: properties.currentUser.AreaId} | orderBy:'PreferredName' | filter:$select.search">
										<span data-ng-bind-html="employee.Label"></span>
									</ui-select-choices>
								</ui-select>
								<buffer></buffer>
								<div style="height: 2px; border-top: 1px solid #ccc; text-align: center">
									<span style="background-color: #f2f2f2; position: relative; top: -0.75em;">&nbsp;&nbsp;OR&nbsp;&nbsp;</span>
								</div>
								<buffer></buffer>
								<!-- FTE view -->
								<div data-ng-show="properties.currentUser.Position.Id === ctrl.positionFTE.Id && !properties.currentUser.Admin">
									<div class="btn-group btn-group-justified">
										<div class="btn-group">
											<button type="button" class="btn btn-default" data-ng-click="ctrl.newMessage.Recipients = ctrl.activeEmloyees">ALL</button>
										</div>
										<div class="btn-group">
											<button type="button" class="btn btn-default" data-ng-click="ctrl.newMessage.Recipients = ctrl.employees">Area</button>
										</div>
										<div class="btn-group" data-ng-repeat="position in properties.defaultArea.Positions | filter:ctrl.positionFilter">
											<button type="button" class="btn btn-default" data-ng-click="ctrl.positionEmployees(position.Id)">{{position.Description}}</button>
										</div>
									</div>
								</div>
								<!-- Employee view -->
								<div data-ng-hide="properties.currentUser.Position.Id === ctrl.positionFTE.Id || properties.currentUser.Admin">
									<div class="btn-group btn-group-justified">
										<div class="btn-group">
											<button type="button" class="btn btn-default" data-ng-click="ctrl.newMessage.Recipients = ctrl.employees">ALL</button>
										</div>
										<div class="btn-group" data-ng-repeat="position in properties.defaultArea.Positions | filter:ctrl.positionFilter">
											<button type="button" class="btn btn-default" data-ng-click="ctrl.positionEmployees(position.Id)">{{position.Description}}</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- FROM -->
						<div class="row-fluid" data-ng-show="properties.currentUser.Position.Position === 'FTE' || properties.currentUser.Admin">
							<div class="form-group">
								<label for="from">From:</label>
								<div class="btn-group-justified">
									<div class="btn-group">
										<button type="button" class="btn btn-default" data-ng-model="ctrl.newMessage.FromId" data-ng-options="employee.Id as employee.toString('name') for employee in ctrl.FTEs" data-html="true" placeholder="Select employee..." bs-select data-placement="bottom">
											Action
											<span class="caret"></span>
										</button>
									</div>
								</div>
							</div>
						</div>
						<!-- SUBJECT -->
						<div class="row-fluid">
							<div class="form-group">
								<label for="Day">Subject:</label>
								<input type="text" data-ng-model="ctrl.newMessage.Subject" class="form-control">
							</div>
						</div>
						<!-- BODY -->
						<div class="row-fluid">
							<div class="form-group">
								<label for="Day">Body:</label>
								<textarea data-ng-model="ctrl.newMessage.Body" class="form-control" rows="10"></textarea>
							</div>
						</div>
						<!-- MISC -->
						<div class="row-fluid" data-ng-show="properties.extendedPrivledges">
							<div class="form-group">
								<div class="form-group">
									<div class="input-group" ng-class="{'has-error': datepickerForm.date.$invalid}">
										<div class="input-group-addon">
											<span class="glyphicon glyphicon-calendar"></span>&nbsp;Expires:
										</div>
										<input type="text" class="form-control" name="date" bs-datepicker data-ng-model="ctrl.newMessage.ExpDate">
									</div>
								</div>
								<div class="form-group">
									<div class="input-group">
										<div class="input-group-addon">
											<span class="glyphicon glyphicon-calendar"></span>&nbsp;Due:
										</div>
										<input type="text" class="form-control" name="date" bs-datepicker data-ng-model="ctrl.newMessage.DueDate">
									</div>
								</div>
								<div class="form-group">
									<div class="btn-group btn-group-justified">
										<div class="btn-group">
											<button type="button" class="btn btn-default" ng-model="ctrl.newMessage.Policy" data-ng-click="ctrl.setPolicy()" bs-checkbox>{{(ctrl.newMessage.Policy) ? 'Policy' : 'Not policy'}}</button>
										</div>
										<div class="btn-group">
											<button type="button" class="btn btn-default" ng-model="ctrl.newMessage.Mandatory" data-ng-disabled="ctrl.newMessage.Policy" bs-checkbox>{{(ctrl.newMessage.Mandatory) ? 'Mandatory' : 'Not mandatory'}}</button>
										</div>
									</div>
								</div>
								<div class="well" data-ng-show="ctrl.newMessage.Policy && (properties.defaultArea.Description === 'Director' || properties.currentUser.Admin)">
									<div class="form-group">
										<div class="btn-group-justified">
											<div class="btn-group">
												<button type="button" class="btn btn-default" data-ng-model="ctrl.newMessage.AreaId" data-ng-options="area.Id as area.Description for area in data.areas" data-html="true" placeholder="Select area..." bs-select data-placement="bottom" data-ng-disabled="ctrl.newMessage.UniversalPolicy">
													Action
													<span class="caret"></span>
												</button>
											</div>
										</div>
									</div>
									<buffer></buffer>
									<div style="height: 2px; border-top: 1px solid #ccc; text-align: center">
										<span style="background-color: #f2f2f2; position: relative; top: -0.75em;">&nbsp;&nbsp;OR&nbsp;&nbsp;</span>
									</div>
									<buffer></buffer>
									<div class="form-group">
										<div class="btn-group-justified">
											<div class="btn-group">
												<button type="button" class="btn btn-default" ng-model="ctrl.newMessage.UniversalPolicy" data-ng-click="ctrl.setUniversalPolicy()" bs-checkbox>Universal Policy</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="aside-footer">
				<button type="button" class="btn btn-default" ng-click="$hide()" data-ng-hide="newMessage">Close</button>
				<div data-ng-show="newMessage">
					<button type="button" class="btn btn-default" ng-click="newMessage = false">Close</button>
					<button type="button" class="btn btn-default" ng-click="ctrl.clearMessage()">Clear</button>
					<button type="button" class="btn btn-success" ng-click="ctrl.sendNewMessage();newMessage = false" data-ng-disabled="!(ctrl.newMessage.Recipients.length && ctrl.newMessage.Subject && ctrl.newMessage.Body)">Send</button>
				</div>
			</div>
		</div>
	</div>
</div>
