<div class="aside right am-fade-and-slide-right" tabindex="-1" role="dialog" style="display: block; width: 450px;" data-ng-controller="MessageCtrl as ctrl">
	<div class="aside-dialog">
		<div class="aside-content">
			<div class="aside-header">
				<a type="button" class="close" ng-click="ctrl.refreshContent()"><span class="glyphicon glyphicon-refresh"></span></a>
				<h4 class="aside-title">Messages</h4>
			</div>
			<ul class="nav nav-pillsCustom nav-justified" bs-navbar>
				<li data-ng-class="{active: tab === 'new'}">
					<a href="" data-ng-click="tab = 'new'">New<span data-ng-show="properties.unreadMessages > 0" class="badge badge-error">{{properties.unreadMessages}}</span></a>
				</li>
				<li data-ng-class="{active: tab === 'read'}">
					<a href="" data-ng-click="tab = 'read'">Read</a>
				</li>
				<li data-ng-class="{active: tab ==='policy'}">
					<a href="" data-ng-click="tab = 'policy'">Policy</a>
				</li>
				<li data-ng-class="{active: tab ==='sent'}">
					<a href="" data-ng-click="tab = 'sent'">Sent</a>
				</li>
			</ul>
			<div class="aside-body">
				<div class="row-fluid">
					<!-- NEW -->
					<div data-ng-show="tab === 'new'">
						<div class="row-fluid">
							<div class="panel-group" ng-model="arrays.messages.activePanel" bs-collapse>
								<div class="panel panel-default" ng-repeat="message in arrays.messages | filter:{Read: false}">
									<div class="panel-heading">
										<h4 class="panel-title">
											<span data-ng-show="message.Message.Mandatory && !message.Read" class="badge badge-error">
												<span class="glyphicon glyphicon-exclamation-sign"></span>
											</span>
											{{ message.Message.Subject | truncate:20}}
											<a class="pull-right" bs-collapse-toggle data-ng-click="toggle = !toggle">
												<span class="glyphicon glyphicon-collapse-down" data-ng-hide="toggle"></span>
												<span class="glyphicon glyphicon-collapse-up" data-ng-show="toggle"></span>
											</a>
											<span class="pull-right">
												<small>{{message.Message.From.toString('name')}}&nbsp;&nbsp;</small>
											</span>
										</h4>
									</div>
									<div class="panel-collapse" bs-collapse-target>
										<div class="panel-body">
											<b>Subject:</b>
											<p>{{message.Message.Subject}}</p>
											<b>Body:</b>
											<div data-ng-bind-html="message.Message.FormattedBody"></div>
											<br>
											<span data-ng-show="message.Message.Mandatory">Due: {{message.Message.DueDate | date:'d-MMM-yyyy'}}</span>
											<br>
											<br>
											<button data-ng-show="message.Message.Mandatory" class="btn btn-success" data-ng-click="ctrl.readMessage(message)" data-ng-disabled="message.Disabled">Acknowledged</button>
											<button data-ng-hide="message.Message.Mandatory && !message.Disabled" class="btn btn-default" data-ng-click="ctrl.readMessage(message)">Read</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- READ -->
					<div data-ng-show="tab === 'read'">
						<div class="row-fluid">
							<div class="panel-group" ng-model="arrays.messages.activePanel" bs-collapse>
								<div class="panel panel-default" ng-repeat="message in arrays.messages | filter:{Read: true, Policy: false}">
									<div class="panel-heading">
										<h4 class="panel-title">
											{{ message.Message.Subject | truncate:20}}
											<a class="pull-right" bs-collapse-toggle data-ng-click="toggle = !toggle">
												<span class="glyphicon glyphicon-collapse-down" data-ng-hide="toggle"></span>
												<span class="glyphicon glyphicon-collapse-up" data-ng-show="toggle"></span>
											</a>
											<span class="pull-right">
												<small>{{message.Message.From.toString('name')}}&nbsp;&nbsp;</small>
											</span>
										</h4>
									</div>
									<div class="panel-collapse" bs-collapse-target>
										<div class="panel-body">
											<b>Subject:</b>
											<p>{{message.Message.Subject}}</p>
											<b>Body:</b>
											<div data-ng-bind-html="message.Message.FormattedBody"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- POLICY -->
					<div data-ng-show="tab === 'policy'">
						<div class="row-fluid">
							<div class="panel-group" ng-model="arrays.messages.activePanel" bs-collapse>
								<div class="panel panel-default" ng-repeat="message in arrays.policies">
									<div class="panel-heading">
										<h4 class="panel-title">
											{{ message.Subject | truncate:20}}
											<a class="pull-right" bs-collapse-toggle data-ng-click="toggle = !toggle">
												<span class="glyphicon glyphicon-collapse-down" data-ng-hide="toggle"></span>
												<span class="glyphicon glyphicon-collapse-up" data-ng-show="toggle"></span>
											</a>
											<span class="pull-right">
												<small>{{message.From.toString('name')}}&nbsp;&nbsp;</small>
											</span>
										</h4>
									</div>
									<div class="panel-collapse" bs-collapse-target>
										<div class="panel-body">
											<b>Subject:</b>
											<p>{{message.Subject}}</p>
											<b>Body:</b>
											<div data-ng-bind-html="message.FormattedBody"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- SENT -->
					<div data-ng-show="tab === 'sent'">
						<div class="row">
							<button type="button" class="btn btn-default center-block" bs-modal="modal" data-template="partials/message/new-message.html" data-animation="am-fade-and-slide-right" data-container="body" data-ng-click="">
								<span class="glyphicon glyphicon-pencil"></span>
								New Message
							</button>
						</div>
						<buffer></buffer>
						<div class="panel-group" ng-model="arrays.sentMessages.activePanel" bs-collapse>
							<div class="panel panel-default" ng-repeat="message in arrays.sentMessages | filter:{Active: true}">
								<div class="panel-heading">
									<h4 class="panel-title">
										{{ message.Subject | truncate:20}}
										<a class="pull-right" bs-collapse-toggle data-ng-click="toggle = !toggle">
											<span class="glyphicon glyphicon-collapse-down" data-ng-hide="toggle"></span>
											<span class="glyphicon glyphicon-collapse-up" data-ng-show="toggle"></span>
										</a>
										<span class="pull-right">
											<small>{{message.From.toString('name')}}&nbsp;&nbsp;</small>
										</span>
									</h4>
								</div>
								<div class="panel-collapse" bs-collapse-target>
									<div class="panel-body">
										<!-- Subject -->
										<div class="form-group">
											<label class="control-label">Subject:</label>
											<input type="text" data-ng-disabled="!message.Edit" class="form-control" data-ng-model="message.Subject">
										</div>
										<!-- Body -->
										<div class="form-group">
											<label class="control-label">Body:</label>
											<textarea data-ng-disabled="!message.Edit" data-ng-model="message.Body" class="form-control" rows="10"></textarea>
										</div>
										<!-- ExpDate -->
										<div class="form-group">
											<div class="input-group" ng-class="{'has-error': datepickerForm.date.$invalid}">
												<div class="input-group-addon">
													<span class="glyphicon glyphicon-calendar"></span>&nbsp;Expires:
												</div>
												<input type="text" class="form-control" name="date" bs-datepicker data-ng-model="message.ExpDate" data-ng-disabled="!message.Edit">
											</div>
										</div>
										<!-- DueDate -->
										<div class="form-group">
											<div class="input-group">
												<div class="input-group-addon">
													<span class="glyphicon glyphicon-calendar"></span>&nbsp;Due:
												</div>
												<input type="text" class="form-control" name="date" bs-datepicker data-ng-model="message.DueDate" data-ng-disabled="!message.Edit">
											</div>
										</div>
										<!-- Mandatory & Policy -->
										<div class="form-group">
											<div class="btn-group btn-group-justified">
												<div class="btn-group">
													<button type="button" class="btn btn-default" ng-model="message.Policy" data-ng-click="message.Mandatory = !message.Mandatory" bs-checkbox data-ng-disabled="!message.Edit">{{(message.Policy) ? 'Policy' : 'Not policy'}}</button>
												</div>
												<div class="btn-group">
													<button type="button" class="btn btn-default" ng-model="message.Mandatory" bs-checkbox data-ng-disabled="!message.Edit">{{(message.Mandatory) ? 'Mandatory' : 'Not mandatory'}}</button>
												</div>
											</div>
										</div>
										<!-- Edit & Delete Buttons -->
										<div class="form-group">
											<div data-ng-hide="message.Edit" class="pull-right">
												<button type="button" class="btn btn-default" data-ng-class="{'btn-default': !message.Edit, 'btn-success': message.Edit}" data-ng-click="ctrl.saveMessage(message)">
													<span class="glyphicon glyphicon-edit" data-ng-hide="message.Edit"></span>
												</button>
											</div>
											<div class="btn-group pull-right" data-ng-show="message.Edit">
												<button type="button" class="btn btn-success" data-ng-click="ctrl.saveMessage(message)">
													<span class="glyphicon glyphicon-save"></span>
												</button>
												<button type="button" class="btn btn-danger" data-ng-click="ctrl.removeMessage(message)">
													<span class="glyphicon glyphicon-remove-sign"></span>
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="aside-footer">
				<button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
			</div>
		</div>
	</div>
</div>
