<header class="navbar navbar-fixed-top bs-docs-nav">
	<div class="navbar-header">
		<button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a href="/#!/" class="navbar-brand"><img src="src/modules/core/img/BYUI1.png" alt="BYU-Idaho" height="25">&nbsp;Testing&nbsp;Center</a>
	</div>
	<nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
		<ul class="nav navbar-nav">
			<li data-ng-show="currentUser.Active">
				<a data-ui-sref="main.schedule.today">
					<span class="glyphicon glyphicon-calendar"></span>&#8199;Schedule</a>
			</li>
			<li data-ng-show="currentUser.Active">
				<a data-ui-sref="main.directory.gridView">
					<span class="glyphicon glyphicon-earphone"></span>&#8199;Directory</a>
			</li>
			<li data-ng-show="currentUser.hrPrivledges">
				<a data-ui-sref="main.hr.fte-tools.application-builder">HR</a>
			</li>
			<!-- <li data-ng-show="currentUser.Admin || currentUser.Area.Description === 'SARAS'">
				<a data-ui-sref="main.saras">SARAS</a>
			</li> -->
			<!-- <li data-ng-show="currentUser.Admin || currentUser.Position === undefined">
				<a data-ui-sref="main.saras">SARAS</a>
			</li> -->
			<li data-ng-show="currentUser.Admin">
				<a data-ui-sref="main.faculty.info">Faculty Portal</a>
			</li>
			<li data-ng-show="currentUser.Admin">
				<a data-ui-sref="main.utilities">
					<span class="glyphicon glyphicon-cog"></span>&#8199;Utilities</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li data-ng-show="currentUser.Position.Description !== 'Applicant'">
				<a data-bs-aside="aside" data-template="src/modules/messages/views/messages.client.view.html" data-placement="right" data-animation="am-fade-and-slide-right" data-container="body">
					<span class="glyphicon glyphicon-envelope"></span>
					<span data-ng-show="unreadMessages.count > 0" class="badge badge-error">{{unreadMessages.count}}</span>
				</a>
			</li>
			<li data-ng-show="currentUser.Position.Description !== 'Applicant'">
				<a data-bs-aside="aside" data-template="src/modules/user/views/user.client.view.html" data-placement="right" data-animation="am-fade-and-slide-right" data-container="body">
					<span class="glyphicon glyphicon-user"></span>
				</a>
			</li>
		</ul>
	</nav>
</header>
<tcems-header-banner></tcems-header-banner>
