<div class="container-fluid">
	<header class="navbar navbar-static-top bs-docs-nav row" role="banner">
		<div class="container-fluid">
			<div class="navbar-header">
				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="" class="navbar-brand">BYU-Idaho Testing Center</a>
			</div>
		</div>
		<div class="bs-docs-header">
			<div class="container-fluid">
				<div class="row">
					<h1>Not An Active Employee</h1>
				</div>
			</div>
		</div>

	</header>

	<main class="row">
		<div class="container text-center">
			<p>If you feel that you have reached this page in error please contact the Testing Center.</p>
			<p>Phone Number: (208) 496-1757</p>
			<p>Email: TestCenterHR@byui.edu</p>
			<!-- <p>If would like to apply for a job at the testing center please click <a href="" title="">here</a></p> -->
		</div>
	</main>

	<footer class="row">

	</footer>
</div>
