<div class="popover">
	<div class="arrow"></div>
	<h4 class="popover-title">Professor Information:
		<small>{{professor.Professor.FirstName}} {{professor.Professor.LastName}}</small>
	</h4>
	<div class="popover-content">
		Office Phone: {{professor.Professor.OfficePhone | tel}} Office Number: {{professor.Professor.OfficeAddress}}
		<br>Email: {{professor.Professor.EmailAddress}}
		<span data-ng-hide="professor.Professor.OtherPhone === null"><br>Other Phone: {{professor.Professor.OtherPhone}}</span>
		<span data-ng-hide="professor.Other === null"><br><b>Other Instructions:</b>
		<br>{{professor.Other}}</span>
	</div>
</div>
