<div class="modal" tabindex="-1" role="dialog" ng-controller="ShiftEditCtrl as shiftCtrl">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="$hide()">&times;</button>
				<h4 class="modal-title">{{shift.toString()}}</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="warning">Are you sure you want to work this shift?</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" ng-click="$hide()">No</button>
				<button type="button" class="btn btn-success" ng-click="shiftCtrl.takeShift(); $hide()">Yes</button>
			</div>
		</div>
	</div>
</div>
