<div class="container-fluid">
    <buffer></buffer>
    <div class="row-fluid">
        <div class="col-md-2">
            <refresh></refresh>
            <buffer></buffer>
            <filter-positions></filter-positions>
        </div>
        <div class="col-md-10">
            <div ng-repeat="group in filteredShiftGroups = (arrays.shiftGroups | filter: {Active: true})" data-ng-class="{'col-md-6':filteredShiftGroups.length === 2}">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">{{group.Description}}</h4>
                    </div>
                    <div data-ng-repeat="primaryPosition in positions" data-ng-show="primaryPosition.Active" class="panel panel-info">
                        <div class="panel-heading">
                            {{primaryPosition.Position}}
                        </div>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">
                                        <a href="" ng-click="predicate = 'Day'">Day</a>
                                        <a href="" ng-show="predicate === 'Day' || predicate === '-Day'" ng-click="predicate = (predicate === 'Day') ? '-Day' : 'Day'">
                                            <span class="glyphicon glyphicon-sort"></span>
                                        </a>
                                    </th>
                                    <th class="text-center">
                                        <a href="" ng-click="predicate = 'StartTime.Hour'">Start Time</a>
                                        <a href="" ng-show="predicate === 'StartTime.Hour' || predicate === '-StartTime.Hour'" ng-click="predicate = (predicate === 'StartTime.Hour') ? '-StartTime.Hour' : 'StartTime.Hour'">
                                            <span class="glyphicon glyphicon-sort"></span>
                                        </a>
                                    </th>
                                    <th class="text-center">
                                        <a href="" ng-click="predicate = 'EndTime.Hour'">End Time</a>
                                        <a href="" ng-show="predicate === 'EndTime.Hour' || predicate === '-EndTime.Hour'" ng-click="predicate = (predicate === 'EndTime.Hour') ? '-EndTime.Hour' : 'EndTime.Hour'">
                                            <span class="glyphicon glyphicon-sort"></span>
                                        </a>
                                    </th>
                                    <th colspan="2" class="text-center">
                                        <a href="" ng-click="predicate = 'Slots'">Slots</a>
                                        <a href="" ng-show="predicate === 'Slots' || predicate === '-Slots'" ng-click="predicate = (predicate === 'Slots') ? '-Slots' : 'Slots'">
                                            <span class="glyphicon glyphicon-sort"></span>
                                        </a>
                                    </th>
                                    <th ng-hide="properties.currentUser.employeeInfo.Position.Position === 'FTE'" class="text-center">
                                        <a href="">Add</a>
                                    </th>
                                    <th ng-show="currentUser.extendedPrivledges" class="text-center">
                                        <a href="">Edit</a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="" ng-repeat="shift in arrays.shifts | filter:{PositionId: primaryPosition.Id, ShiftGroupId: group.Id}:true">
                                    <td class="text-center">{{shift.Day}}</td>
                                    <td class="text-center">{{shift.StartTime | date:'hh:mm a'}}</td>
                                    <td class="text-center">{{shift.EndTime | date:'hh:mm a'}}</td>
                                    <td class="text-right">{{shift.AvailableSlots}} /</td>
                                    <td>{{shift.Slots}}</td>
                                    <td ng-hide="properties.currentUser.employeeInfo.Position.Position === 'FTE'" class="text-center">
                                        <div class="btn-group btn-group-sm">
                                            <button class="btn btn-default" data-animation="am-fade-and-scale" data-template="partials/schedule/availableShifts/shift-take.html" bs-modal="modal" ng-hide="shift.AvailableSlots === 0">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>
                                        </div>
                                    </td>
                                    <td ng-show="currentUser.extendedPrivledges" class="text-center">
                                        <div class="btn-group btn-group-sm">
                                            <button class="btn btn-default" data-animation="am-fade-and-scale" data-template="partials/schedule/availableShifts/shift-edit.html" bs-modal="modal">
                                                <span class="glyphicon glyphicon-edit"></span>
                                            </button>
                                            <button class="btn btn-danger" data-animation="am-fade-and-scale" data-template="partials/schedule/availableShifts/shift-delete.html" bs-modal="modal">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <pre>{{arrays.shifts | json}}</pre> -->
