<div class="modal" tabindex="-1" role="dialog" data-ng-controller="ShiftEditCtrl as shiftCtrl">
	<div class="modal-dialog text-muted text-left">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="$hide()">&times;</button>
				<h4 class="modal-title">{{shift.toString()}}</h4>
			</div>
			<div class="modal-body container-fluid">
				<!-- DAYS and SLOTS -->
				<div class="row">
					<div class="col-md-6">
						<div class="input-group">
							<label for="Day" class="input-group-addon">Days</label>
							<button type="button" class="btn btn-default form-control" data-ng-model="shiftCtrl.temp" data-multiple="true" data-ng-options="day.day as day.title for day in shiftCtrl.days" bs-select>
								Action <span class="caret"></span>
							</button>
						</div>
					</div>
					<div class="col-md-6">
						<div class="input-group">
							<input id="slots" name="slots" type="text" class="form-control text-center" ng-model="shift.Slots" required>
							<label for="slots" class="input-group-addon">Slots</label>
						</div>
					</div>
				</div>
				<buffer></buffer>
				<!-- TIMES -->
				<div class="row">
					<div class="col-md-12">
						<div class="input-group">
							<label for="StartTime" class="input-group-addon">
								<span class="glyphicon glyphicon-time"></span>
							</label>
							<input id="StartTime" type="text" class="form-control text-center" ng-model="shift.StartTime" name="time" bs-timepicker>
							<label class="input-group-addon">
								&#8199-&#8199
							</label>
							<input id="EndTime" type="text" class="form-control text-center" ng-model="shift.EndTime" name="time" bs-timepicker>
							<label class="input-group-addon" for="EndTime"><span class="glyphicon glyphicon-time"></span>
							</label>
						</div>
					</div>
				</div>
				<buffer></buffer>
				<!-- POSITION and SEMESTER TYPE -->
				<div class="row">
					<div class="col-md-6">
						<div class="input-group">
							<label class="input-group-addon" for="position">Position</label>
							<button type="button" class="btn btn-default form-control" data-ng-model="shift.PositionId" data-ng-options="position.Id as position.Description for position in positions" bs-select placeholder="Select position...">
								Action <span class="caret"></span>
							</button>
						</div>
					</div>
					<div class="col-md-6">
						<div class="input-group">
							<button type="button" class="btn btn-default form-control" data-ng-model="shift.ShiftGroupId" data-ng-options="group.Id as group.Description for group in arrays.shiftGroups" bs-select placeholder="Select category...">
								Action <span class="caret"></span>
							</button>
							<label class="input-group-addon" for="group">Semester</label>
						</div>
					</div>
				</div>
				<buffer></buffer>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" ng-click="$hide()">No</button>
				<button type="button" class="btn btn-danger" ng-click="shiftCtrl.addShift(); $hide()">Yes</button>
			</div>
		</div>
	</div>
</div>
