<div class="container-fluid">
    <buffer></buffer>
    <div class="row-fluid">
        <div class="col-md-2">
            <refresh></refresh>
            <buffer></buffer>
            <filter-days></filter-days>
            <filter-positions></filter-positions>
        </div>
        <div class="col-md-10 text-center">
            <div class="panel panel-primary" ng-model="ctrl.activePanel">
                <div class="panel-heading">
                    <h4 class="panel-title">
                    Employees that haven't submitted there availability. {{'(' + arrays.noAvailabilityEmployees.length + ')'}}
                    <span class="glyphicon glyphicon-collapse-down pull-right" data-ng-click="toggle = true" data-ng-hide="toggle"></span>
                    <span class="glyphicon glyphicon-collapse-up pull-right" data-ng-click="toggle = false" data-ng-show="toggle"></span>
                </h4>
                </div>
                <div class="panel-collapse" data-ng-hide="toggle">
                    <div class="panel-body">
                        <div data-ng-repeat="employee in arrays.noAvailabilityEmployees | orderBy:'PreferredName'" class="col-sm-4 col-md-2 text-center well" style="height: 180px">
                            <div>
                                <img data-ng-src="{{employee.Picture}}" fallback-src="/media/missing.png" class="img-circle" data-ng-style="{'max-width': '120px', 'max-height': '170px'}" data-template="partials/schedule/employee-info.html" data-animation="am-flip-x" bs-tooltip="tooltip">
                            </div>
                            <b>{{employee.PreferredName}} {{employee.LastName}}</b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary" data-ng-repeat="day in arrays.weeks[0].days" data-ng-hide="!day.active || day.title === 'Sunday'">
                <div class="panel-heading">
                    <h4 class="panel-title">
                    {{day.title}}
                </h4>
                </div>
                <div class="panel-body no-padding">
                    <div data-ng-show="primaryPosition.Active" data-ng-repeat="primaryPosition in arrays.positions" class="panel panel-info no-margin">
                        <div class="panel-heading">
                            {{primaryPosition.Position}}
                        </div>
                        <div class="panel-body no-padding">
                            <div class='list-group' data-ng-style="{'width': (100/filtered.length + '%'), 'float': 'left'}" data-ng-repeat="shift in filtered = (day.availabilities.currentSemester | filter:{PositionId: primaryPosition.Id}) | orderBy:'StartTime'">
                                <div class="list-group-item list-group-item-info">
                                    {{shift.StartTime | date:'h:mm a'}} to {{shift.EndTime | date:'h:mm a'}}
                                </div>
                                <a class="list-group-item list-group-item-success" data-ng-repeat="employee in shift.Employees">
                                    <div>
                                        <img data-ng-src="{{employee.Picture}}" fallback-src="/media/missing.png" class="list-item img-circle" data-template="partials/schedule/employee-info.html" data-animation="am-flip-x" bs-tooltip="tooltip">
                                    </div>
                                    {{employee.FirstName}} {{employee.LastName}}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
