<div class="row">
	<ul class="nav nav-tabs">
		<li data-ng-class="{active: data.area.active}">
			<a data-ng-click="switchToArea()">{{data.area.desc}} Area</a>
		</li>
		<li data-ng-repeat="ap in data.aps | notFTE" data-ng-class="{active: ap.active}">
			<a data-ng-click="activateAP(ap.id)">{{ap.pos.Description}}</a>
		</li>
	</ul>
</div>
<div class="row app-build-pane" data-ng-show="data.area.active">
	<tcems-buffer></tcems-buffer>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title">Area Settings</div>
			</div>
			<div class="panel-body form form-horizontal">
				<div data-ng-include="fteViews + 'resume-settings.client.view.html'"></div>
				<div data-ng-include="fteViews + 'cover-letter-settings.client.view.html'"></div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div data-ng-include="fteViews + 'available-questions.client.view.html'"></div>
	</div>
	<tcems-buffer></tcems-buffer>
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title">Application Preview</div>
			</div>
			<div class="panel-body">
				<div data-ng-include="fteViews + 'cover-letter-resume-upload.client.view.html'"></div>
				<div data-ng-repeat="q in aApps | filter:{aId: data.area.id}">
					<div data-ng-include="appViews + 'app.client.view.html'"></div>
				</div>
			</div>
			<div class="panel-footer text-right">
				<span class="glyphicon glyphicon-asterisk text-danger"></span> = required
			</div>
		</div>
	</div>
</div>
<div class="row app-build-pane" data-ng-repeat="ap in data.aps" data-ng-show="ap.active">
	<tcems-buffer></tcems-buffer>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title">Position Settings</div>
			</div>
			<div class="panel-body form form-horizontal">
				<div class="col-md-12 well">
					<div class="h4">Miscellaneous</div>
					<tcems-buffer></tcems-buffer>
					<div class="well-divider text-center">
						<span class="well-divider-text">&nbsp;&nbsp;Position&nbsp;&nbsp;</span>
					</div>
					<tcems-buffer></tcems-buffer>
					<div class="form-group">
						<label class="col-md-8">Can See Applications:</label>
						<div class="btn-group col-md-4">
							<a class="btn btn-default" data-ng-class="{active: ap.cSApps}" data-ng-click="ap.cSApps = true">Yes</a>
							<a class="btn btn-default" data-ng-class="{active: !ap.cSApps}" data-ng-click="ap.cSApps = false">No</a>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-8">Entry Positions:</label>
						<div class="btn-group col-md-4">
							<a class="btn btn-default" data-ng-class="{active: ap.entry}" data-ng-click="ap.entry = true">Yes</a>
							<a class="btn btn-default" data-ng-class="{active: !ap.entry}" data-ng-click="ap.entry = false">No</a>
						</div>
					</div>
					<div class="well-divider text-center">
						<span class="well-divider-text">&nbsp;&nbsp;Hiring&nbsp;&nbsp;</span>
					</div>
					<tcems-buffer></tcems-buffer>
					<p class="text-center">
						&nbsp;
						<span data-ng-show="ap.object.open || ap.object.referal || ap.object.review">Since {{ap.object.hiring | date:'MMM d, yyyy'}}</span>
					</p>
					<tcems-buffer></tcems-buffer>
					<div class="form-group">
						<label class="col-md-8">Open:</label>
						<div class="btn-group col-md-4">
							<a class="btn btn-default" data-ng-class="{active: ap.object.open}" data-ng-click="ap.object.toggleOpen()">Yes</a>
							<a class="btn btn-default" data-ng-class="{active: !ap.object.open}" data-ng-click="ap.object.toggleOpen()">No</a>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-8">Referals:</label>
						<div class="btn-group col-md-4">
							<a class="btn btn-default" data-ng-class="{active: ap.object.referal}" data-ng-click="ap.object.toggleReferal()">Yes</a>
							<a class="btn btn-default" data-ng-class="{active: !ap.object.referal}" data-ng-click="ap.object.toggleReferal()">No</a>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-8">Reviewing:</label>
						<div class="btn-group col-md-4">
							<a class="btn btn-default" data-ng-class="{active: ap.object.review}" data-ng-click="ap.object.toggleReview()">Yes</a>
							<a class="btn btn-default" data-ng-class="{active: !ap.object.review}" data-ng-click="ap.object.toggleReview()">No</a>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-8">Close Hiring:</label>
						<div class="col-md-4">
							<div class="btn-group-justified">
								<a class="btn btn-danger" data-ng-show="ap.object.open || ap.object.review || ap.object.referal" data-ng-click="ap.object.closeHiring()">Yes</a>
								<a class="btn btn-default" data-ng-hide="ap.object.open || ap.object.review || ap.object.referal" data-ng-click="ap.object.closeHiring()" disabled="true">Closed</a>
							</div>
						</div>
					</div>
				</div>
				<div data-ng-include="fteViews + 'resume-settings.client.view.html'"></div>
				<div data-ng-include="fteViews + 'cover-letter-settings.client.view.html'"></div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div data-ng-include="fteViews + 'available-questions.client.view.html'"></div>
	</div>
	<tcems-buffer></tcems-buffer>
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title">Application Preview</div>
			</div>
			<div class="panel-body">
				<div data-ng-include="fteViews + 'cover-letter-resume-upload.client.view.html'"></div>
				<div data-ng-repeat="q in pApps | filter:{pId: ap.id}">
					<div data-ng-include="appViews + 'app.client.view.html'"></div>
				</div>
			</div>
			<div class="panel-footer text-right">
				<span class="glyphicon glyphicon-asterisk text-danger"></span> = required
			</div>
		</div>
	</div>
</div>
