<div class="col-md-6" data-ng-if="application.ar" data-flow-init>
	<span data-ng-if="!application.acl">
		&nbsp;
	</span>
	<div class="form-group ques-well">
		<label>Resume
			<span class="text-danger glyphicon glyphicon-asterisk" data-ng-show="application.rr"></span>
		</label>
		<div class="drop" data-flow-drop data-ng-class="dropClass">
			<span class="btn btn-default" data-flow-btn>Upload PDF</span>
			<b>OR</b> " Drag and Drop your PDF here "
		</div>
	</div>
</div>
<div class="col-md-6" data-ng-if="application.acl" data-flow-init>
	<span data-ng-if="!application.ar">
		&nbsp;
	</span>
	<div class="form-group ques-well">
		<label>Cover Letter
			<span class="text-danger glyphicon glyphicon-asterisk" data-ng-show="application.rcl"></span>
		</label>
		<div class="drop" data-flow-drop data-ng-class="dropClass">
			<span class="btn btn-default" data-flow-btn>Upload PDF</span>
			<b>OR</b> " Drag and Drop your PDF here "
		</div>
	</div>
</div>
&nbsp;
<section data-ng-if="application.acl && application.ar">
	<div class="row-fluid">
		<hr>
	</div>
</section>
