<div class="container-fluid">
	<tcems-buffer></tcems-buffer>
	<div class="row">
		<!-- Menu Panel -->
		<div class="col-md-2">
			<ul class="nav nav-pills nav-stacked" data-bs-navbar>
				<li data-match-route="/main/hr/fte-tools/application-builder">
					<a data-ui-sref="main.hr.fte-tools.application-builder">Application Builder</a>
				</li>
				<li data-ng-repeat="item in [1, 2, 3]">
					<a>Option {{item}}</a>
				</li>
			</ul>
			<div class="panel panel-default" data-ng-show="currentUser.Admin">
				<div class="panel-heading">
					<div class="panel-title">Area Switcher</div>
				</div>
				<div class="panel-body">
					<ul class="nav nav-pills nav-stacked">
						<li data-ng-repeat="a in areas | notDirector" data-ng-class="{active: data.aId === a.Id}">
							<a data-ng-click="changeArea(a.Id)">
								{{a.Description}}
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- Data Panel -->
		<div class="col-md-10" data-ui-view></div>
	</div>
</div>
