<div class="modal" tabindex="-1" role="dialog" ng-controller="MyAvailabilityCtrl as ctrl">
	<div class="modal-dialog text-muted text-left">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="$hide()">&times;</button>
				<h4 class="modal-title">Unavailable</h4>
			</div>
			<div class="modal-body">
					<div class="warning text-center">This means that outside your work schedule you are completely unavailable.  You will not be contacted about substituting or any other help requests.</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="$hide()">Cancel</button>
				<button type="button" class="btn btn-success" ng-click="ctrl.markUnavailable(); $hide()">Submit</button>
			</div>
		</div>
	</div>
</div>
