<div class="navbar navbar-static-top bs-docs-nav row" role="banner">
	<div class="container-fluid">
		<div class="navbar-header">
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="" class="navbar-brand">BYU-Idaho Testing Center</a>
		</div>
		<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
			<ul class="nav navbar-nav">
				<li class="active">
					<a ui-sref="schedule">
						<span class="glyphicon glyphicon-calendar"></span>&#8199Schedule</a>
				</li>
				<li>
					<a ui-sref="directory">
						<span class="glyphicon glyphicon-earphone"></span>&#8199Directory</a>
				</li>
				<li>
					<a ui-sref="hr">HR</a>
				</li>
				<li>
					<a ui-sref="saras">Saras</a>
				</li>
				<li data-ng-show="properties.currentUser.employeeInfo.Position.Position === 'Admin'">
					<a ui-sref="utilities">
						<span class="glyphicon glyphicon-cog"></span>&#8199Utilities</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="" onclick="">
						<span class="glyphicon glyphicon-envelope"></span>
					</a>
				</li>
				<li>
					<a href="" onclick="">
						<span class="glyphicon glyphicon-user"></span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
	<header-banner></header-banner>
</div>
