<div class="modal" tabindex="-1" role="dialog" ng-controller="EmployeeEdit as ctrl">
	<div class="modal-dialog text-muted text-left">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="$hide()">&times;</button>
				<h4 class="modal-title">Edit Employee Information:
					<small>{{employee.FirstName}} {{employee.LastName}}</small>
				</h4>
			</div>
			<div class="modal-body container-fluid">
				<div class="row">
					<img data-ng-src="{{employee.Picture}}" fallback-src="/media/missing.png" data-ng-style="{'max-width': '120px', 'max-height': '170px'}" class="center-block img-circle">
				</div>
				<buffer></buffer>
				<div class="row">
					<ul class="nav nav-tabs nav-justified">
						<li role="presentation" data-ng-class="{active: tab === 'profile'}">
							<a data-ng-click="tab = 'profile'">Profile</a>
						</li>
						<li role="presentation" data-ng-class="{active: tab === 'employment'}">
							<a data-ng-click="tab = 'employment'">Employment</a>
						</li>
						<li role="presentation" data-ng-class="{active: tab === 'subShifts'}">
							<a data-ng-click="tab = 'subShifts'">SubShifts</a>
						</li>
						<li role="presentation" data-ng-class="{active: tab === 'messages'}">
							<a data-ng-click="tab = 'messages'">Messages</a>
						</li>
					</ul>
				</div>
				<buffer></buffer>
				<!-- PROFILE -->
				<div class="row form-horizontal" data-ng-show="tab === 'profile'">
					<div class="col-md-6">
						<div class="form-group">
							<label class="col-sm-3 control-label">First:</label>
							<div class="col-md-9">
								<input type="text" class="form-control" disabled="true" data-ng-model="employee.FirstName">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Preferred:</label>
							<div class="col-md-9">
								<input type="text" class="form-control" data-ng-model="employee.PreferredName">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Last:</label>
							<div class="col-md-9">
								<input type="text" class="form-control" data-ng-model="employee.LastName">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Phone:</label>
							<div class="col-md-9">
								<input type="text" class="form-control" data-ng-model="employee.PhoneNumber" data-ui-mask="(999) 999-9999">
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="col-sm-3 control-label">Area:</label>
							<div class="col-md-9">
								<div class="btn-group-justified">
									<div class="btn-group">
										<button type="button" class="btn btn-default text-justify" data-ng-options="area.Id as area.Area for area in data.areas" ng-model="employee.AreaId" bs-select data-ng-disabled="!(properties.currentUser.Area.Description === 'Director' || properties.currentUser.Admin)" data-ng-change="ctrl.updateArea(employee)" placeholder="Select area..."></button>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Position:</label>
							<div class="col-md-9">
								<div class="btn-group-justified">
									<div class="btn-group">
										<button type="button" class="btn btn-default text-justify" data-ng-options="position.Id as position.Description for position in employee.Area.Positions" ng-model="employee.PositionId" placeholder="Select Position..." bs-select></button>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Track:</label>
							<div class="col-md-9">
								<div class="btn-group-justified text-justify">
									<div class="btn-group text-justify">
										<button type="button" class="btn btn-default text-justify" data-ng-options="track.Id as track.Description for track in data.tracks" ng-model="employee.TrackId" placeholder="Select a track..." bs-select></button>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label" for="readerCheckbox">Reader:</label>
							<div class="col-md-9">
								<div class="btn-group-justified">
									<div class="btn-group">
										<button type="button" class="btn btn-default" data-ng-click="employee.Reader = !employee.Reader">{{(employee.Reader) ? 'A ' : 'Not a '}}reader</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- EMPLOYMENT -->
				<div class="row-fluid" data-ng-show="tab === 'employment'">
					<div class="form-horizontal">
						<!-- Existing Employments -->
						<ul class="list-group" style="height: 200px; overflow: scroll">
							<li class="list-group-item" data-ng-repeat="employment in data.employments | filter:{EmployeeId: employee.Id}">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="col-sm-3 control-label">Start:</label>
											<div class="col-md-9">
												<input type="text" class="form-control" name="date" bs-datepicker data-ng-model="employment.StartDate" autoclose="true" data-ng-disabled="!employment.Edit">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3 control-label">Area:</label>
											<div class="col-md-9">
												<div class="btn-group-justified">
													<div class="btn-group">
														<button type="button" class="btn btn-default text-justify" data-ng-options="area.Id as area.Description for area in data.areas" ng-model="employment.AreaId" bs-select data-ng-disabled="!employment.Edit" placeholder="Select area..." data-ng-change="ctrl.updateArea(employment)"></button>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="col-sm-3 control-label">End:</label>
											<div class="col-md-9">
												<input type="text" class="form-control" name="date" bs-datepicker data-ng-model="employment.EndDate" autoclose="true" data-ng-disabled="!employment.Edit">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3 control-label">Position:</label>
											<div class="col-md-9">
												<div class="btn-group-justified">
													<div class="btn-group">
														<button type="button" class="btn btn-default text-justify" data-ng-options="position.Id as position.Description for position in employment.Area.Positions" ng-model="employment.PositionId" bs-select data-ng-disabled="!employment.Edit" placeholder="Select Position..."></button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="pull-right">
											<button type="button" class="btn btn-default" data-ng-click="ctrl.editEmployment(employment)" data-ng-hide="employment.Edit">
												<span class="glyphicon glyphicon-edit"></span>
											</button>
											<div class="btn-group" data-ng-show="employment.Edit">
												<button type="button" class="btn btn-default" data-ng-show="employment.Edit" data-ng-click="employment.Edit = false; employment.refresh()">
													<span class="glyphicon glyphicon-remove"></span>
												</button>
												<button type="button" class="btn btn-success" data-ng-click="ctrl.editEmployment(employment)">
													<span class="glyphicon glyphicon-floppy-disk"></span>
												</button>
												<button type="button" class="btn btn-danger" data-ng-click="employment.remove()" data-ng-show="properties.currentUser.Admin">
													<span class="glyphicon glyphicon-trash"></span>
												</button>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
						<buffer></buffer>
						<div style="border-bottom: 1px solid #ccc"></div>
						<buffer></buffer>
						<!-- New Employment -->
						<ul class="list-group">
							<li class="list-group-item">
								<div class="row" data-ng-show="ctrl.newEmployment.Edit">
									<div class="col-md-6">
										<div class="form-group">
											<label class="col-sm-3 control-label">Start:</label>
											<div class="col-md-9">
												<input type="text" class="form-control" name="date" bs-datepicker data-ng-model="ctrl.newEmployment.StartDate" autoclose="true" data-ng-disabled="!ctrl.newEmployment.Edit">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3 control-label">Area:</label>
											<div class="col-md-9">
												<div class="btn-group-justified">
													<div class="btn-group">
														<button type="button" class="btn btn-default text-justify" data-ng-options="area.Id as area.Description for area in data.areas" ng-model="ctrl.newEmployment.AreaId" bs-select data-ng-disabled="!ctrl.newEmployment.Edit" placeholder="Select area..." data-ng-change="ctrl.updateArea(ctrl.newEmployment)"></button>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="col-sm-3 control-label">End:</label>
											<div class="col-md-9">
												<input type="text" class="form-control" name="date" bs-datepicker data-ng-model="ctrl.newEmployment.EndDate" autoclose="true" data-ng-disabled="!ctrl.newEmployment.Edit">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3 control-label">Position:</label>
											<div class="col-md-9">
												<div class="btn-group-justified">
													<div class="btn-group">
														<button type="button" class="btn btn-default text-justify" data-ng-options="position.Id as position.Description for position in ctrl.newEmployment.Area.Positions" ng-model="ctrl.newEmployment.PositionId" bs-select data-ng-disabled="!ctrl.newEmployment.Area.Id" placeholder="Select position..."></button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12 text-center">
										<button type="button" class="btn btn-default" data-ng-click="ctrl.newEmployment.Edit = true" data-ng-hide="ctrl.newEmployment.Edit">
											<span class="glyphicon glyphicon-plus"></span> New Employment Record
										</button>
										<div class="pull-right">
											<div class="btn-group" data-ng-show="ctrl.newEmployment.Edit">
												<button type="button" class="btn btn-default" data-ng-show="ctrl.newEmployment.Edit" data-ng-click="ctrl.newEmployment.Edit = false">
													<span class="glyphicon glyphicon-remove"></span>
												</button>
												<button type="button" class="btn btn-success" data-ng-click="ctrl.addEmployment()">
													<span class="glyphicon glyphicon-floppy-disk"></span>
												</button>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<!-- SUBSHIFTS -->
				<div class="row-fluid" data-ng-show="tab === 'subShifts'">
					<div class="row">
						<div class="col-md-12 text-center">
							<ul class="list-group">
								<li class="list-group-item" data-ng-class="{'list-group-item-danger': ctrl.isASub}">
									<b>{{employee.toString('name')}} {{(ctrl.isASub) ? ' is only a Sub.' : ' works a regular shift.'}}</b>
								</li>
							</ul>
						</div>
					</div>
					<buffer></buffer>
					<div class="row">
						<div class="col-md-6" style="border-right: 1px solid #ccc">
							<h4>Worked Shifts</h4>
							<ul class="list-group" style="height: 190px; overflow: scroll" data-ng-hide="ctrl.workedSubShifts.length === 0">
								<li class="list-group-item text-center" data-ng-repeat="subShift in ctrl.workedSubShifts | orderBy:'Date'">
									{{subShift.Date.toString('dddd MMM. dS')}}
									<br>{{subShift.Shift.StartTime.toString('h:mm')}} - {{subShift.Shift.EndTime.toString('h:mm')}}
								</li>
							</ul>
							<ul class="list-group" style="height: 190px; overflow: scroll" data-ng-show="ctrl.workedSubShifts.length === 0">
								<li class="list-group-item text-center">No worked shifts.</li>
							</ul>
						</div>
						<div class="col-md-6">
							<h4>Requested Shifts</h4>
							<ul class="list-group" style="height: 190px; overflow: scroll" data-ng-hide="ctrl.requestedSubShifts.length === 0">
								<li class="list-group-item text-center" data-ng-repeat="subShift in ctrl.requestedSubShifts | orderBy:'Date'" data-ng-class="{'list-group-item-danger': (subShift.SubstituteId === undefined)}">
									{{subShift.Date.toString('dddd MMM. dS')}}
									<br>{{subShift.Shift.StartTime.toString('h:mm')}} - {{subShift.Shift.EndTime.toString('h:mm')}}
								</li>
							</ul>
							<ul class="list-group" style="height: 190px; overflow: scroll" data-ng-show="ctrl.requestedSubShifts.length === 0">
								<li class="list-group-item text-center">No requested shifts.</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- MESSAGES -->
				<div class="row-fluid" data-ng-show="tab === 'messages'">
					<h4>Unread Mandatory Messages</h4>
					<ul class="list-group" style="height: 190px; overflow: scroll">
						<li class="list-group-item" data-ng-show="ctrl.unreadMessages.length === 0">No unread messages.</li>
						<li class="list-group-item" data-ng-repeat="message in ctrl.unreadMessages | orderBy:'Created'" data-ng-class="{'list-group-item-danger': message.OverDue}" data-ng-bind-html="message.Message">
						</li>
					</ul>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="employee.refresh();$hide()">Cancel</button>
				<span data-ng-show="tab === 'profile'">
					<button type="button" class="btn btn-success" data-ng-click="employee.activate()" data-ng-hide="employee.Active || employee.Retired">Activate Employee</button>
					<button type="button" class="btn btn-danger" data-ng-click="employee.deactivate()" data-ng-show="employee.Active">Deactivate Employee</button>
					<button type="button" class="btn btn-danger" data-ng-click="employee.retire()" data-ng-hide="employee.Active || employee.Retired">Retire</button>
					<button type="button" class="btn btn-success" ng-click="ctrl.updateEmployee(); $hide()">Update</button>
				</span>
			</div>
		</div>
	</div>
</div>
