<div class="modal" tabindex="-1" role="dialog" ng-controller="MyScheduleCtrl as ctrl">
	<div class="modal-dialog text-muted text-left">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="$hide()">&times;</button>
				<h4 data-ng-hide="shift.subRequest" class="modal-title">Are you sure you want to drop this shift?</h4>
			</div>
			<div class="modal-body text-center">
				<div class="warning">
					{{day.toString()}}
					<br>{{shift.shift.Position.Description}}: {{shift.shift.StartTime | date:'h:mm'}} - {{shift.shift.EndTime | date:'h:mm'}}
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" ng-click="$hide()">No</button>
				<button type="button" class="btn btn-success" ng-click="ctrl.dropShift();$hide()">Yes</button>
			</div>
		</div>
	</div>
</div>
