<div class="container-fluid">
	<buffer></buffer>
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h4 class="panel-title">Employee Testing Restrictions</h4>
				</div>
				<div class="panel-body">
					<div class="row-fluid">
						<label>Stipulation:</label>
						<div class="btn-group btn-group-justified" data-ng-model="properties.ProfessorInfo.FacultyTestingInfo.Stipulation" bs-radio-group>
							<label class="btn btn-default">
								<input type="radio" value="No stipulation." class="btn btn-default">No stipulation.
							</label>
							<label class="btn btn-default">
								<input type="radio" value="Take before you work." class="btn btn-default">Take before you work.
							</label>
							<label class="btn btn-default">
								<input type="radio" value="Take before it opens." class="btn btn-default">Take before it opens.
							</label>
							<label class="btn btn-default">
								<input type="radio" value="Talk to the Professor." class="btn btn-default">Talk to the Professor.
							</label>
						</div>
					</div>
					<buffer></buffer>
					<div class="row-fluid">
						<label>Other Instructions:</label>
						<textarea class="form-control" rows="2" data-ng-model="properties.ProfessorInfo.FacultyTestingInfo.Other"></textarea>
					</div>
					<buffer></buffer>
					<div class="row-fluid">
						<button type="button" data-ng-show="properties.ProfessorInfo.FacultyTestingInfo.Id" data-ng-click="ctrl.updateFacultyTestingInfo()" class="btn btn-success pull-right">Update</button>
						<button type="button" data-ng-hide="properties.ProfessorInfo.FacultyTestingInfo.Id" data-ng-click="ctrl.addFacultyTestingInfo()" class="btn btn-success pull-right">Submit</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h4 class="panel-title">Personal Information</h4>
				</div>
				<div class="panel-body">
					<div class="col-md-12 form-horizontal">
						<div class="form-group">
							<label class="control-label">First Name:</label>
							<input type="text" class="form-control" data-ng-model="properties.ProfessorInfo.FirstName" disabled>
						</div>
						<div class="form-group">
							<label class="control-label">Last Name:</label>
							<input type="text" class="form-control" data-ng-model="properties.ProfessorInfo.LastName">
						</div>
						<div class="form-group">
							<label class="control-label">Email Address:</label>
							<input type="text" class="form-control" data-ng-model="properties.ProfessorInfo.EmailAddress" disabled>
						</div>
						<div class="form-group">
							<label class="control-label">Office Number:</label>
							<input type="text" class="form-control" data-ng-model="properties.ProfessorInfo.OfficeAddress">
						</div>
						<div class="form-group">
							<label class="control-label">Office Extension:</label>
							<input type="text" class="form-control" data-ng-model="properties.ProfessorInfo.OfficePhone">
						</div>
						<div class="form-group">
							<label class="control-label">Other Phone:</label>
							<input type="text" class="form-control" data-ng-model="properties.ProfessorInfo.OtherPhone" data-ui-mask="(999) 999-9999">
						</div>
					</div>
					<button type="button" data-ng-click="ctrl.updateProfessor()" class="btn btn-success pull-right">Update</button>
				</div>
			</div>
		</div>
	</div>
</div>
