<div class="modal"><!-- TODO: add controller -->
	<div class="modal-dialog text-muted text-left">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close">&times;</button>
				<h4 class="modal-title"><!-- TODO: add title --></h4>
			</div>
			<div class="modal-body">
				<!-- TODO: add body -->
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-ng-click="$hide()">Close</button>
				<!-- TODO: flesh out footer -->
			</div>
		</div>
	</div>
</div>
