<div data-ng-repeat="employee in employees | orderBy:properties.predicate | employeeFilter:{inactive:hideInactive, area: area.hideOthers, position: position.hide, retired: retired}  | filter:employeeSearch" class="col-sm-4 col-md-2 text-center well employee-well">
	<img data-ng-src="{{employee.Picture}}" data-fallback-src="src/modules/core/img/missing.png" class="img-circle employee-img" alt="employeePicture">
	<div>
		<b>{{employee.PreferredName}} {{employee.LastName}}</b>
		<br>Position: {{employee.Position.Position}}
		<br>Phone: {{employee.PhoneNumber | tel}}
		<br>Email: {{employee.EmailAddress}}
	</div>
	<div data-ng-show="currentUser.data.Position.Position === 'FTE'">
		INumber: {{employee.INumber}}
		<br>Track: {{employee.Track.Description}}
	</div>
	<button data-ng-show="currentUser.extendedPrivledges" class="btn btn-link" data-animation="am-fade-and-scale" data-template="src/modules/employees/views/employee-edit.client.view.html" data-bs-modal="modal">
		<span class="glyphicon glyphicon-edit"></span>
	</button>
</div>
