<div class="container-fluid">
	<tcems-buffer></tcems-buffer>
	<div class="row">
		<div class="col-md-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">Menu Panel</h4>
				</div>
				<div class="panel-body">
					<ul class="nav nav-pills nav-stacked">
						<li data-ng-repeat="item in [1, 2, 3]" data-ng-class="{active: item === 1}">
							<a>Option {{item}}</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-10">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">Data Panel</h4>
				</div>
				<div class="panel-body">
				</div>
			</div>
		</div>
	</div>
</div>

