<div class="panel panel-info">
	<div class="panel-heading">
		<div class="panel-title">
			Semesters
		</div>
	</div>
	<div class="panel-body">
		<div class="control-group">
			<button type="button" class="btn form-control" data-ng-class="{'btn-primary': ctrl.semester === 'currentSemester', 'btn-default': ctrl.semester === 'nextSemester'}" data-ng-click="ctrl.semester = 'currentSemester'">{{currentSemester.ShiftGroup.Description}}</button>
			<button type="button" class="btn form-control" data-ng-show="nextSemester.Id" data-ng-class="{'btn-primary': ctrl.semester === 'nextSemester', 'btn-default': ctrl.semester === 'currentSemester'}" data-ng-click="ctrl.semester = 'nextSemester'">{{nextSemester.ShiftGroup.Description}}</button>
		</div>
	</div>
</div>
